<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="Roman *Romeno* Troshkin">

	<title>{% block title %}{% endblock %}</title>

	<!-- Bootstrap -->
	<link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">

    <!-- Latest compiled and minified CSS -->
    <link href="/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css">

    <style>
        body {
            background: #28282f;
        }

        .search-select {
            margin-top: 100px;
            margin-left: 100px;
        }

        .search-select .dropdown-toggle.search-btn span.filter-option {
            width: 80% !important;
        }

        .bs-caret {
            width: 15%;
            float: right;
            margin-top: 9px;
            display: inline-block;
            height: 20px;
            background-image: url('/layout/layout/images/dropdown-down-icon.png');
            background-position: bottom;
            background-repeat: no-repeat;
        }

        .caret {
            border-color: transparent;
        }

        .dropdown-menu.open {
            border-radius: 0px;
            margin-top: 0px;
            border: 0px;
        }

        .btn-group.bootstrap-select.search-select.open {
            background: #fff200;
        }

        .btn-group.bootstrap-select.search-select.open .search-btn {
            -webkit-box-shadow: none;
            box-shadow: none;
            border: 0px solid transparent;
            color: #28282f;
        }

        .btn-group.bootstrap-select.search-select.open .bs-caret{
            background-image: url('/layout/layout/images/dropdown-icon-active.png');
            margin-top: 11px;
            margin-right: 2px;
        }

        .search-select:focus {
            outline: none !important;
        }

        .search-btn {
            border: 2px solid #69696e;
            border-radius: 10px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            background: rgba(0,0,0,0);
            color: white;
            font-style: italic;
            line-height: 45px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-right: 0px !important;
        }

        .dropdown-menu.open {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .search-btn:hover {
            color: white;
        }

        .btn.dropdown-toggle.search-btn:focus{
            outline: none !important;
            color: white;
        }

        .search-btn:active {
            outline: none;
        }

        ul.dropdown-menu li a {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        .bootstrap-select.btn-group .dropdown-menu li {
            height: 45px;
        }

        .bootstrap-select.btn-group .dropdown-menu li a {
            vertical-align: middle;
            line-height: 45px;
        }

        .dropdown-menu .search-option:hover,
        .dropdown-menu .search-option:focus {
            background: #fff200;
            outline: none;
        }

/*        select {
            width: 100px;
            height: 100px;
            border-radius: 20px;
        }

        select:focus {
            border-radius: 0px;
            outline: none;
            border: 0px;
        }

        option:hover {
            background: #008800;
        }

        option:active{
            background: #008800;
        }

        option:focus {
            background: #008800;
        }*/

    </style>
</head>
<body>
    <select class="selectpicker search-select" data-style="search-btn" title="Раздел">
        <option class="search-option">1</option>
        <option class="search-option">2</option>
        <option class="search-option">3</option>
        <option class="search-option">4</option>
        <option class="search-option">5</option>
    </select>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
</body>
</html>