@charset "UTF-8";
@import 'fonts/fonts.css';

.article-content .c,
.mceContentBody .c {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

.article-content .c img,
.mceContentBody .c img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.article-content .c p,
.mceContentBody .c p {
    margin: 0;
}

.article-content .column1,
.mceContentBody .column1 {
    margin-right: 1%;
}

.article-content .column2,
.mceContentBody .column2 {
    margin-left: 1%;
}

.mceContentBody {
    font-family: "Museo Sans Cyrylic", sans-serif;
    font-weight: 300;
    font-size: 14px;
}