{% extends "base.html" %}

{% block title %}Article List{% endblock %}

{% block content %}
    <h2>Articles</h2>
    <ul>
        {% for art in article_list %}
            <li>{{ art.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}