{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
    {%  trans "About us" %}
{% endblock %}

{% block content %}
    {% comment %}
    {% flatblock "about-block" %}-->
    {% endcomment %}

        <div class="row main-block">
            <div class="col-xs-11">
                <b>Our mission</b>
                <br><br><br>
                <p>
                Lorem ipsum dolor sit amet, cum an verear hendrerit, per ne graeco facilisi dissentiunt, has enim scripserit no. Soluta indoctum comprehensam ne vim, mea minimum propriae definitiones ei. In vis tale purto iuvaret, sed no gloriatur deseruisse, vel ne liber dissentias. Sit ne sanctus voluptua laboramus. Dicta noluisse est eu. Vis omittam invenire constituam ad, meis facilisis disputationi in vis, qui eruditi omnesque efficiendi no. His essent persecuti voluptaria te, et odio tincidunt signiferumque vis.
                </p>
                <br><br>
                <b>How can we help you?</b>
                <br><br><br>
                <p>
                Lorem ipsum dolor sit amet, cum an verear hendrerit, per ne graeco facilisi dissentiunt, has enim scripserit no. Soluta indoctum comprehensam ne vim, mea minimum propriae definitiones ei. In vis tale purto iuvaret, sed no gloriatur deseruisse, vel ne liber dissentias. Sit ne sanctus voluptua laboramus. Dicta noluisse est eu. Vis omittam invenire constituam ad, meis facilisis disputationi in vis, qui eruditi omnesque efficiendi no. His essent persecuti voluptaria te, et odio tincidunt signiferumque vis.
                </p>
                <br><br>
                <b>Our contacts</b>
                <br><br><br>
                <div class="col-xs-4">
                <img src="{% static 'images/tel-icon.png' %}"/>&nbsp;Телефон доверия для ЛГБТ:
                <p><b>8 (029) 108-1087</b></p>
                <p><b>8 (029) 866-1087</b></p>
                </div>
                <div class="col-xs-4 offset-xs-4">
                <img src="{% static 'images/clock-icon.png' %}"/>&nbsp;Время работы:
                <p><b>Пн-Пт 10:00 - 13:00</b></p>
                </div>
            </div>
            <div class="col-xs-1 offset-xs-11" id="report">
                <a href="#"><img src="{% static 'images/report.png' %}" width="50" height="50"/></a>
            </div>
        </div>

    <!-- contact form -->

{% endblock %}