{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="Roman *Romeno* Troshkin">

	<title>{% block title %}{% endblock %}</title>

	<!-- Bootstrap -->
	<link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet" type="text/css">

	<!-- Custom styles for this template -->
	<link href={% static "css/dashboard.css" %} rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div class="container-fluid">
		<div class="row wrapper">
			<!-- Sidebar -->
			<div class="col-sm-2 sidebar">
				<div>
					<a href="/templates/about.html">
                        <img src="{% static 'images/Logo86.png' %}" width="70" alt="Organisation logo image"/>
                    </a>
					<img src="{% static 'images/LogoName160.png' %}" width="100" alt="Organisation text logo"/>
					<ul class="nav nav-sidebar">
						<li class="active"><a href="/about.html">About us<span class="sr-only">(current)</span></a></li>
						<li><a href="/rights.html">LGBT Rights</a></li>
						<li><a href="/psy.html">Psycological support</a></li>
						<li><a href="/edu.html">Educational</a></li>
						<li><a href="/joinus.html">Join us!</a></li>
					</ul>
				</div>
				<div id="lang-block">
					<a href="#">РУС/БЕЛ</a>&nbsp;&nbsp;
					<a href="#">ENG</a>
				</div>
				<br>
				<table id="social-block">
					<tr>
						<td><a href="https://www.facebook.com/identityby">
                            <img width="50" height="50" src="{% static 'images/fb-group-icon.png' %}"/>
                        </a></td>
						<td><a href="https://vk.com/identityby">
                            <img width="50" height="50" src="{% static 'images/vk-group-icon.png' %}"/>
                        </a></td>
						<td><a href="https://twitter.com/identityby">
                            <img width="50" height="50" src="{% static 'images/twitter-group-icon.png' %}"/>
                        </a></td>
					</tr>
				</table>
			</div>

			<!-- Content block -->
			<div class="wrapper">
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

					<!-- Intro block -->
					<div class="row intro-block">
						<div class="col-xs-7 col-sm-4">
							<form method="POST" action="/search.html" id="search-form">
								<div class="form-group">
									<div class="input-group">
										<label for="inputSearch" class="sr-only">Search field</label>
										<input type="search" class="form-control" id="inputSearch" placeholder="Search...">
										<div class="input-group-btn">
											<input id="search" type="image" src="{% static 'images/search-icon.png' %}" name="image"
                                                   width="20" height="20" class="btn btn-default"><span class="sr-only">Submit search</span></input>
										</div>
									</div>
								</div>
								<a href="#" class="search-block">Advanced search</a>
							</form>
							<h3 class="page-header">About us</h3>
						</div>
					</div>

					<!-- Main content block -->

                    {% block content %}

                    {% endblock %}

                </div>
				<footer class="footer">
                        Lorem ipsum dolor sit amet, cum an verear hendrerit, per ne graeco facilisi dissentiunt, has enim scripserit no. Soluta indoctum comprehensam ne vim, mea minimum propriae definitiones ei. In vis tale purto iuvaret, sed no gloriatur deseruisse, vel ne liber dissentias. Sit ne sanctus voluptua laboramus. Dicta noluisse est eu. Vis omittam invenire constituam ad, meis facilisis disputationi in vis, qui eruditi omnesque efficiendi no. His essent persecuti voluptaria te, et odio tincidunt signiferumque vis.
						<div class="col-xs-2 offset-xs-2">Онлайн выставка по ЛГБТК истории Беларуси</div>
						<div class="col-xs-2 offset-xs-4">Библиотека</div>
						<div class="col-xs-2 offset-xs-6">Статьи</div>
						<div class="col-xs-2 offset-xs-8">Новости</div>
						<div class="col-xs-2 offset-xs-10">Сотрудничество</div>
						<br/>
					<img src= "{% static 'images/LogoName160.png' %}">Идентичность 2015 &copy;</img>
				</footer>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static 'jquery/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
</body>
</html>
