<div class="c column1">
    <p>Column1 header</p>
    <p>Text</p>
    <p>Text</p>
</div>
<div class="c column2">
    <p>Column2 header</p>
    <p>Text</p>
    <p>Text</p>
</div>
<p>Text after</p>
<p></p>