@font-face {
    font-family: 'Museo Sans Cyrylic';
    src: url('museosanscyrl_100_italic-webfont.eot');
    src: url('museosanscyrl_100_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosanscyrl_100_italic-webfont.woff2') format('woff2'),
         url('museosanscyrl_100_italic-webfont.woff') format('woff'),
         url('museosanscyrl_100_italic-webfont.ttf') format('truetype'),
         url('museosanscyrl_100_italic-webfont.svg#museo_sans_cyrl100_italic') format('svg');
    font-weight: 100;
    font-style: italic;

}




@font-face {
    font-family: 'Museo Sans Cyrylic';
    src: url('museosanscyrl_100-webfont.eot');
    src: url('museosanscyrl_100-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosanscyrl_100-webfont.woff2') format('woff2'),
         url('museosanscyrl_100-webfont.woff') format('woff'),
         url('museosanscyrl_100-webfont.ttf') format('truetype'),
         url('museosanscyrl_100-webfont.svg#museo_sans_cyrl100') format('svg');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'Museo Sans Cyrylic';
    src: url('museosanscyrl_300_italic-webfont.eot');
    src: url('museosanscyrl_300_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosanscyrl_300_italic-webfont.woff2') format('woff2'),
         url('museosanscyrl_300_italic-webfont.woff') format('woff'),
         url('museosanscyrl_300_italic-webfont.ttf') format('truetype'),
         url('museosanscyrl_300_italic-webfont.svg#museo_sans_cyrl300_italic') format('svg');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'Museo Sans Cyrylic';
    src: url('museosanscyrl_300-webfont.eot');
    src: url('museosanscyrl_300-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosanscyrl_300-webfont.woff2') format('woff2'),
         url('museosanscyrl_300-webfont.woff') format('woff'),
         url('museosanscyrl_300-webfont.ttf') format('truetype'),
         url('museosanscyrl_300-webfont.svg#museo_sans_cyrl300') format('svg');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'Museo Sans Cyrylic';
    src: url('museosanscyrl_500_italic-webfont.eot');
    src: url('museosanscyrl_500_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosanscyrl_500_italic-webfont.woff2') format('woff2'),
         url('museosanscyrl_500_italic-webfont.woff') format('woff'),
         url('museosanscyrl_500_italic-webfont.ttf') format('truetype'),
         url('museosanscyrl_500_italic-webfont.svg#museo_sans_cyrl500_italic') format('svg');
    font-weight: 500;
    font-style: italic;

}




@font-face {
    font-family: 'Museo Sans Cyrylic';
    src: url('museosanscyrl_500-webfont.eot');
    src: url('museosanscyrl_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosanscyrl_500-webfont.woff2') format('woff2'),
         url('museosanscyrl_500-webfont.woff') format('woff'),
         url('museosanscyrl_500-webfont.ttf') format('truetype'),
         url('museosanscyrl_500-webfont.svg#museo_sans_cyrl500') format('svg');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'Museo Sans Cyrylic';
    src: url('museosanscyrl_700_italic-webfont.eot');
    src: url('museosanscyrl_700_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosanscyrl_700_italic-webfont.woff2') format('woff2'),
         url('museosanscyrl_700_italic-webfont.woff') format('woff'),
         url('museosanscyrl_700_italic-webfont.ttf') format('truetype'),
         url('museosanscyrl_700_italic-webfont.svg#museo_sans_cyrl700_italic') format('svg');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'Museo Sans Cyrylic';
    src: url('museosanscyrl_700-webfont.eot');
    src: url('museosanscyrl_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosanscyrl_700-webfont.woff2') format('woff2'),
         url('museosanscyrl_700-webfont.woff') format('woff'),
         url('museosanscyrl_700-webfont.ttf') format('truetype'),
         url('museosanscyrl_700-webfont.svg#museo_sans_cyrl700') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'Museo Sans Cyrylic';
    src: url('museosanscyrl_900_italic-webfont.eot');
    src: url('museosanscyrl_900_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosanscyrl_900_italic-webfont.woff2') format('woff2'),
         url('museosanscyrl_900_italic-webfont.woff') format('woff'),
         url('museosanscyrl_900_italic-webfont.ttf') format('truetype'),
         url('museosanscyrl_900_italic-webfont.svg#museo_sans_cyrl900_italic') format('svg');
    font-weight: 900;
    font-style: italic;

}




@font-face {
    font-family: 'Museo Sans Cyrylic';
    src: url('museosanscyrl_900-webfont.eot');
    src: url('museosanscyrl_900-webfont.eot?#iefix') format('embedded-opentype'),
         url('museosanscyrl_900-webfont.woff2') format('woff2'),
         url('museosanscyrl_900-webfont.woff') format('woff'),
         url('museosanscyrl_900-webfont.ttf') format('truetype'),
         url('museosanscyrl_900-webfont.svg#museo_sans_cyrl900') format('svg');
    font-weight: 900;
    font-style: normal;

}