{% load staticfiles %}
{% load i18n %}
{% load flatblocks %}
{% load identity_utils %}

                                {% for column in columns %}
                                    <div class="article-column">

                                        {% for article in column %}
                                            {% if article.badge_design == 're' %}
                                                {% set article_class = "article-badge" %}
                                            {% else %}
                                                {% set article_class = "article-badge-darken" %}
                                            {% endif %}
                                            <a class="{{ article_class }}" href="{% url 'article' id=article.pk year=article.creation_date|date:"Y" month=article.creation_date|date:"m" day=article.creation_date|date:"d" slug=article.slug %}">
                                                <img class="cover" src="{{ article.lead_image.url }}">
                                                {% if article.has_photo %}
                                                    <span class="photo-mark pos1"></span>
                                                {% endif %}
                                                {% if article.has_video %}
                                                    {% if article.has_photo %}
                                                        <span class="video-mark pos2"></span>
                                                    {% else %}
                                                        <span class="video-mark pos1"></span>
                                                    {% endif %}
                                                {% endif %}
                                                <div class="date">{{ article.pub_date|date:'d.m.Y' }}</div>
                                                <div class="article-title">{{ article.title }}</div>
                                                {% if article.badge_design == 're' %}
                                                    <div class="read-article">
                                                        <div class="go-link">
                                                            <span>Читать</span>
                                                            <span class="link"></span>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </a>
                                        {% endfor %}

                                    </div>
                                {% endfor %}