{% load staticfiles %}
{% load i18n %}

                    {% for column in columns %}
                        <div class="article-column">

                            {% for book in column %}
                                <a class="book-badge" download href="/files/{{ book.book }}">
                                    <div class="book-main">
                                        <div class="date">{{ book.creation_date|date:'d.m.Y' }}</div>
                                        <div class="article-title">{{ book.title }}</div>
                                    </div>
                                    <div class="book-footer">
                                        <span>{% trans 'Download' %}</span>
                                    </div>
                                </a>
                            {% endfor %}

                        </div>
                    {% endfor %}