<!--|    Report btn -->
                        <div class="report-block">
                            <a href="{% url 'rights' %}" id="report">

                            </a>
                        </div>
<!--|    END Report btn -->