{% load staticfiles %}
{% load i18n %}

<!--|    Regular search block -->
                        <form method="POST" action="{% url 'search' %}" id="search-form">
                            {% csrf_token %}
                            <div class="form-group regular-search-group">
                                <div class="input-group">
                                    <label for="inputSearch" class="sr-only">{% trans 'Search field' %}</label>
                                    <input type="search" class="identity-input form-control" id="inputSearch" placeholder="{% trans 'Search...' %}">
                                    <div class="input-group-btn search-btn">
                                        <input id="search" type="image" src="{% static 'images/search-icon.png' %}" name="image"
                                               width="20" height="20" class="btn btn-default"><span class="sr-only">{% trans 'Submit search' %}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="advanced-search-link">
                                <a onclick="$('#advanced-search-form').slideDown()" href="#" >{% trans 'Advanced search' %}</a>
                            </div>
                        </form>
<!--|    END Regular search block -->

<!--|    Advanced search block -->
                        <form method="POST" action="{% url 'search' %}" id="advanced-search-form">
                            {% csrf_token %}
                            <select class="selectpicker identity-select search-select" no-scroll data-dropup-auto="false" data-size="7" data-style="identity-select-btn search-select-btn" title="{% trans 'Section' %}">
                                <option class="identity-option search-option">{% trans 'All' %}</option>
                                <option class="identity-option search-option">{% trans 'News' %}</option>
                                <option class="identity-option search-option">{% trans 'Events' %}</option>
                                <option class="identity-option search-option">{% trans 'Articles' %}</option>
                                <option class="identity-option search-option">{% trans 'Rights' %}</option>
                                <option class="identity-option search-option">{% trans 'Psycological' %}</option>
                                <option class="identity-option search-option">{% trans 'Educational' %}</option>
                                <option class="identity-option search-option">{% trans 'Books' %}</option>
                            </select>
                            <label for="adv-search-field" class="sr-only">{% trans 'Advanced search field' %}</label>
                            <input type="text" class="adv-search-field" id="adv-search-field">
                            <div class="adv-search-btn">
                                <input type="submit" value="" title="">
                            </div>
                            <div onclick="$('#advanced-search-form').slideUp()" class="adv-search-close">
                                <a href="#"></a>
                            </div>
                        </form>
<!--|    END Advanced search block -->