{% load static %}
{% load i18n %}

                        <div class="subscribe-block">
                            <div>
                                <p>{% trans 'Be always aware of our&#10;activity' %}</p>
                            </div>
                            <button onclick="$('#subscribe-form').fadeIn()" type="button" class="btn identity-btn subscribe-btn">
                                <span>{% trans 'Subscribe' context 'main' %}</span>
                                <img src="{% static 'images/subscribe-form-letter-icon.png' %}">
                            </button>

                            <form id="subscribe-form" method="POST" action="{% url 'subscribe' %}">
                                {% csrf_token %}
                                <div>
                                    <img class="letter" src="{% static 'images/subscribe-form-letter-icon.png' %}">
                                    <b>{% trans 'Activate subscribtion' %}</b>
                                </div>
                                <input type="text" name="fullname" placeholder="{% trans 'Your name, please, your name' %}">
                                <input type="email" name="email" placeholder="{% trans 'e-mail' %}">
                                <div>
                                    <span class="l">
                                        <input onclick="$('#subscribe-form').fadeOut()" type="button" value="{% trans 'Cancel' %}" class="do-cancel">
                                    </span>
                                    <span class="r">
                                        <input type="submit" value="{% trans 'Subscribe' context 'action' %}" class="do-subscribtion">
                                    </span>
                                </div>
                            </form>
                        </div>