/*
 * Base structure
 */

 /*
 * Global add-ons
 */

 .sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

.sidebar {
	position: fixed;
	top: 0px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 20px 0px 20px 0px;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	background-color: #222537;
	color: white;
	border: 0px;
	max-width: 150px;
}

.sidebar div a img {
	position: absolute;
    margin-right: auto;
	margin-left: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sidebar div img {
	position: absolute;
    margin-right: auto;
	margin-left: auto;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
}

.sidebar div {
	position: relative;
	padding-top: 140px;
}

.sidebar a {
	color: inherit;
}

.sidebar li {
	padding-left: 20px;
	padding-right: 10px;
}

.container-fluid {
	height: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.b {
	background: rgb(0,0,0);
}

.footer {
	margin-left: 150px;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f0f1f8;
}

/*
 * Main
 */

.main {
	padding: 0px;
	height: 100%;
	margin-left: 150px;
	width: initial;
}

#lang-block {
	padding-left: 20px;
	padding-top: 220px;
}

#lang-block a {
	color: #596484;
}

#lang-block a:hover {
	color: rgb(253, 233, 0);
}

#social-block a img {
	margin: 0px;
}

.intro-block {
	background: #212330;
	margin: 0px;
	background-position: 40% 100%;
	background-image: url("/static/images/LogoAboutUs.png");
	background-repeat: no-repeat;
	background-size: 55% auto;
}

/*#about-us-logo {
	max-width:100%;
	max-height:100%;
}

#about-us-logo-div {
	margin-left: 20%;
	margin-right: 20%;
}*/

.main-block {
	background: #fff;
	margin: 30px 0px 30px 30px;
}

#report {
	position: relative;

}

#report a img {
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#search-form {
	margin: 50px 0px 0px 30px;
}

#search {
	border: 0px solid transparent;
	padding: 0px;
	background: transparent;
	right: 33px;
}

.search-block {
	color: rgb(253, 233, 0);
	padding-left: 195px;
}

.search-block:hover {
	color: rgb(253, 233, 0);
}

#inputSearch::-webkit-input-placeholder { color: rgb(253, 233, 0); font-style:italic; }
#inputSearch:-moz-placeholder { color: rgb(253, 233, 0); font-style:italic; }
#inputSearch::-moz-placeholder { color: rgb(253, 233, 0); font-style:italic; }
#inputSearch:-ms-input-placeholder { color: rgb(253, 233, 0); font-style:italic;}

#inputSearch {
	border-radius: 10px;
	border-color: rgba(253, 233, 0, 0.3);
	border-width: 2px;
	color: rgb(253, 233, 0);
	outline: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	background: transparent;
	padding: 6px 15px 6px 15px;
	height: 40px;
}

#inputSearch:active {
	border-radius: 8px;
	
}

#search:hover {
	background: transparent;
}

.main h3 {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	color: white;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main .page-header {
  margin-top: 0px;
  border-bottom: 0px;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}