button {
	background: #00FF96;
	background: rgba(0, 255, 150, 0.7)
}

button-active {
	background: #fff200;
}

.m {
	background: #222537;
	color: #fff;
}

.m a {
	color: inherit;
}

search-box {
	background: #fde900;
	background: rgba(253, 233, 0, 0.3)
}