button {
	background: #00FF96;
	background: rgba(0, 255, 150, 0.7)
}

button-active {
	background: #fff200;
}

menu {
	background: #222537;
}

search-box {
	background: #fde900;
	background: rgba(253, 233, 0, 0.3)
	color: #fde900;
}

about-us-lead-image {
	background: #212330;
}

selected-menu-color {
	background: #00ff96
}

footer-color {
	background: #f0f1f8;
	color-active: #141a28;
	color: #444867;
}

logo-footer-color {
	color: #c0c1ce;
}

footer-font-color {
	color: #4f5470;
}

main-page-color {
	color: #1d1e25;
}

sent-button-color {
	background: #25d7fd;
	color: white;
}

button-color {
	color: #171a35;
	background: #00ff96;
}

form-border-color {
	background: #bbbbbd;
	color: #bbbbbd;
}

lang-color {
	color: #596484;
}

/* flip img horizonatlly 
http://aimweb.name/css/css-transform-scale/
*/
.flip-horizontal{
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
transform: scale(-1, 1);
filter: FlipH;
-ms-filter: "FlipH"; 
}

/* blurred background image
http://codepen.io/aniketpant/pen/DsEve
*/
.blurred-image {
  background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 800px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}

main-page-section-border {
	background: #99ffd5;
}

main-page-timestamp {
	background: #a1a3a9;
}

article-preview-timestamp-border {
	background: rgba(255, 255, 255, 0.4)
}

section-title-at-top-text {
	color: white;
}

/* img transparence
http://www.w3schools.com/css/css_image_transparency.asp
*/
transparent-img {
	opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

useful-links {
	background: #bcc0de;
}

article-preview-title {
	background: #f5f6fa;
}