/* Textarea */

.identity-textarea {
    margin: 20px 0;
    padding: 5px 15px 5px;
    border: 2px solid rgba(187, 187, 189, 0.7);
    border-radius: 4px;
    color: #bbbbbd;
    display: block;
    width: 100%;
}

.identity-textarea:focus,
.identity-textarea:active:focus,
.identity-textarea:active {
    outline: none;
    /*box-shadow: 0px 0px 12px 2px rgba(187,187,189,1);*/
}

/* END Textarea */

/* Select */

/* общие правила селекта в открытом состоянии */
.identity-select .dropdown-menu.open {
    border-radius: 0;
    margin-top: 0;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/* осн. поле селекта */

.dropdown-toggle.identity-select-btn {
    border: 2px solid rgba(33, 37, 61, 0.3);
    background: transparent;
    border-radius: 4px;
    font-style: italic;
    color: black;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    font-weight: 100;
    font-size: 18px;
    height: 45px;
}

.open .dropdown-toggle.identity-select-btn {
    background: #525c7a;
    border: 2px solid #525c7a;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff200;
}

.dropdown-toggle.identity-select-btn:focus,
.dropdown-toggle.identity-select-btn:active,
.dropdown-toggle.identity-select-btn:active:focus {
    outline: none !important;
}

/* END осн. поле селекта */

/* span текста, title, находящийся внутри осн. поля селекта */
.btn.dropdown-toggle.identity-select-btn .filter-option {
    width: 80%;
    position: absolute;
    top: 8px;
    left: 8px;
}

/* стрелочка */

.identity-select-btn .bs-caret {
    width: 18px;
    float: right;
    margin-top: 1px;
    display: block;
    height: 20px;
    background-image: url('../images/dropdown-down-icon.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: transform 0.2s ease-in, margin-top 0.2s ease-in;
}

.open .identity-select-btn .bs-caret {
    background-image: url('../images/dropdown-icon-active2.png');
    margin-top: 7px;
    margin-right: 2px;
    transform: rotate(0.5turn);
    transition: transform 0.3s ease-out, margin-top 0.3s ease-out;
}

.identity-select-btn .caret {
    border-color: transparent;
}

/* END стрелочка */

/* Опции */

.dropdown-menu .identity-option {
    vertical-align: middle;
    line-height: 45px;
    background: #525c7a;
    color: white;

    /* added due to jScrollPane */
    display: inline-block;
    width: 100%;
    padding: 0 20px;
}

.dropdown-menu .selected .identity-option {
    color: white;
}

.dropdown-menu .identity-option:hover,
.dropdown-menu .identity-option:hover:focus {
    background: #fff200;
    color: black;
}

.dropdown-menu .identity-option:focus {
    background: #525c7a;
}

.dropdown-menu .identity-option:active,
.dropdown-menu .identity-option:focus,
.dropdown-menu .identity-option:active:focus {
    outline: none;
}

/* END Опции */

/* END Select */

/* Scrollbar - jScrollPane styles */

.jspPane {
    width: 100% !important;
}

.jspVerticalBar {
    width: 4px;
    background: transparent;
    margin-right: 5px;
}

.jspTrack {
    background: transparent;
}

.jspDrag {
    background: rgba(33, 35, 48, 0.5);
    border-radius: 2px;
}

/* END Scrollbar */

/* Animations */

/* Placeholder */

.easy_placeholder::-webkit-input-placeholder       { transition: opacity 0.7s ease-out; opacity: 0.7; }
.easy_placeholder::-moz-placeholder                { transition: opacity 0.7s ease-out; opacity: 0.7; }
.easy_placeholder:-moz-placeholder                 { transition: opacity 0.7s ease-out; opacity: 0.7; }
.easy_placeholder:-ms-input-placeholder            { transition: opacity 0.7s ease-out; opacity: 0.7; }
.easy_placeholder:focus::-webkit-input-placeholder { transition: opacity 1.1s ease-in; opacity: 0; }
.easy_placeholder:focus::-moz-placeholder          { transition: opacity 1.1s ease-in; opacity: 0; }
.easy_placeholder:focus:-moz-placeholder           { transition: opacity 1.1s ease-in; opacity: 0; }
.easy_placeholder:focus:-ms-input-placeholder      { transition: opacity 1.1s ease-in; opacity: 0; }

/* END Placeholder */

/* END Animations */

.subscribe-btn span {
    margin-right: 6px;
}

.subscribe-btn img {
    width: 20px;
    position: relative;
    top: -1px;
}

/* Radio & checkboxes */

.identity-radio:not(old),
.identity-checkbox:not(old) {
    width   : 28px;
    margin  : 0;
    padding : 0;
    opacity : 0;
}

.identity-radio:not(old) + label,
.identity-checkbox:not(old) + label {
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    margin: 5px 20px 5px 8px;
    font-weight: 300;
    font-size: 12px;
}

.identity-radio:not(old) + label:before {
    content: '';
    width: 30px;
    height: 30px;
    display      : inline-block;
    vertical-align: middle;
    margin-left  : -40px;
    padding-left : 43px;
    background   : url('../images/radio.png') no-repeat 0 0;
    background-size: contain;
    line-height  : 24px;
    opacity: 0.3;
}

.identity-checkbox:not(old) + label:before {
    content: '';
    width: 30px;
    height: 30px;
    display      : inline-block;
    vertical-align: middle;
    margin-left  : -40px;
    padding-left : 43px;
    background   : url('../images/checkbox.png') no-repeat 0 0;
    background-size: contain;
    line-height  : 24px;
    opacity: 0.3;
}

.identity-radio:not(old):checked + label:before {
    content: '';
    background   : url('../images/radio-checked.png') no-repeat 0 0;
    background-size: contain;
    opacity: 1;
}

.identity-checkbox:not(old):checked + label:before {
    content: '';
    background   : url('../images/checkbox-checked.png') no-repeat 0 0;
    background-size: contain;
    opacity: 1;
}

/* END Radio & checkboxes */