/* Firefox specific */

/* advanced search select */

/* селект */

/* сам селект */
_:-moz-tree-row(hover), .identity-select .search-select-btn {
    height: 49px;
    position: relative;
    top: 3px;
}

_:-moz-tree-row(hover), .open.identity-select .search-select-btn {
    height: 49px;
    position: relative;
    top: 3px;
}

/* span текста title-a select-a в обычном состоянии */
_:-moz-tree-row(hover), .identity-select .search-select-btn .filter-option {
    position: relative;
    top: 14px;
}

/* span текста title-a select-a в нажатом состоянии */
_:-moz-tree-row(hover), .identity-select.open .search-select-btn .filter-option {

}

/* стрелочка */

_:-moz-tree-row(hover), .identity-select-btn .bs-caret {
    position: relative;
    top: -44px;
}

_:-moz-tree-row(hover), .articles-select-btn .bs-caret {
    position: relative;
    top: -19px;
}

_:-moz-tree-row(hover), .open .articles-select-btn .bs-caret {
    position: relative;
    top: -18px;
    left: 1px;
}

/* END стрелочка */

/* END селект */

/* поле поиска */
_:-moz-tree-row(hover), .adv-search-field {
    top: 54px;
}

/* кнопка поиска */
_:-moz-tree-row(hover), .adv-search-btn {
    top: 51px;
}

/* END Firefox specific */

/* IE specific */

/* IE >= 10*/

/* селект поиска */
_:-ms-input-placeholder, :root .identity-select .search-select-btn {
    position: relative;
    top: 3px;
    height: 49px;
}

/* поле поиска */
_:-ms-input-placeholder, :root .adv-search-field {
    top: 54px;
}

/* кнопка поиска */
_:-ms-input-placeholder, :root .adv-search-btn {
    top: 53px;
}

/* стрелочка */

_:-ms-input-placeholder, :root .articles-select-btn .bs-caret {
    position: absolute;
    top: 15%;
    left: 100%;
    transform: translate(-100%, 0) translate(-5px, 0);
}

_:-ms-input-placeholder, :root .open .articles-select-btn .bs-caret {
    top: 17%;
    transform: translate(-100%, 0) translate(-5px, 0) rotate(0.5turn);
}

/* END стрелочка */

/* END IF IE >=10 */

/* IE >= 11*/

/* селект поиска */
_:-ms-input-placeholder, :root .identity-select .search-select-btn {
    position: relative;
    top: 3px;
    height: 49px;
}

/* поле поиска */
_:-ms-fullscreen, :root .adv-search-field {
    top: 54px;
}

/* кнопка поиска */
_:-ms-fullscreen, :root .adv-search-btn {
    top: 53px;
}

/* стрелочка */

_:-ms-fullscreen, :root .articles-select-btn .bs-caret {
    position: absolute;
    top: 15%;
    left: 100%;
    transform: translate(-100%, 0) translate(-5px, 0);
}

_:-ms-fullscreen, :root .open .articles-select-btn .bs-caret {
    top: 17%;
    transform: translate(-100%, 0) translate(-5px, 0) rotate(0.5turn);
}

/* END стрелочка */

/* END IF IE >=11 */

/* END IE specific */