@charset "UTF-8";
@import 'fonts/fonts.css';
@import 'controls.css';

/* Base structure */

/* Serezha+Roma*/
body {
    margin: 0;
    padding: 0;
    font-family: "Museo Sans Cyrylic";
    font-weight: 300;
    font-size: 14px;
}

.flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.vcenter-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

/* END Base structure */

/* Sidebar */

.sidebar {
	position: fixed;
	top: 0px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	background-color: #222537;
	color: white;
	border: 0px;
	max-width: 150px;
    width: 150px;
}

.sidebar div a:first-of-type img {
	position: absolute;
    margin-right: auto;
	margin-left: auto;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
}

.sidebar div a img {
	position: absolute;
    margin-right: auto;
	margin-left: auto;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
}

.sidebar div {
	position: relative;
	padding-top: 140px;
}

.sidebar a {
	color: inherit;
}

.sidebar li {
	padding-left: 20px;
	padding-right: 10px;
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar li a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar li a:hover,
.nav-sidebar li a:active,
.nav-sidebar li a:focus,
.nav-sidebar li a:active:focus {
    font-weight: bold;
    background-color: #00ff96;
    color: #000;
}

#lang-block {
	padding-left: 20px;
	padding-top: 220px;
    font-family: "Museo Sans Cyrylic";
    font-weight: 500;
}

#lang-block a {
	color: #596484;
}

#lang-block a:hover {
	color: rgb(253, 233, 0);
}

#social-block a img {
	margin: 0;
}

/* END Sidebar */

/* Intro */

.intro-block {
	margin: 0;
    position: relative;
    padding: 55px 0 0 20px;
	background: #212330;
	background-repeat: no-repeat;
}

.intro-block.blurred-image-fix {
    margin-bottom: -20px;
}

.index-main-pic {
    background-size: auto 100%;
}

.main-pic-overflow {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.main-pic {
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.about-main-pic {
    background-position: 150px bottom;
    background-size: auto 180px;
    background-image: url('../images/AboutLogoSharp.png');

    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}

.edu-main-pic {
    background-position: 75px bottom;
    background-size: auto 150px;
    background-image: url('../images/edu-section-big-logo.png');

    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}

.psy-main-pic {
    background-position: 75px bottom;
    background-size: auto 100%;
    background-image: url('../images/psy-big-logo.png');

    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}

.rights-main-pic {
    background-position: 40px 0;
    background-size: 70% auto;
    background-image: url('../images/right-section-big-logo.png');

    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}

.rights-main-pic2 {
    overflow: hidden;
    background-position: 40px -235px;
    background-size: 70% auto;
    background-image: url('../images/right-section-big-logo.png');

    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}

/* Search */

/* Regular search */

#search-form {
    width: 30%;
    z-index: 0;
}

.search-btn {
    width: 0;
}

.regular-search-group .input-group {
    width: 100%;
}

#search {
	border: 0 solid transparent;
	padding: 0;
	background: transparent;
	right: 15px;
    bottom: 14px;
    position: absolute;
}

.advanced-search-link{
	text-align: right;
}

.advanced-search-link a {
    color: rgb(253, 233, 0);
    opacity: 0.8;
}

.search-block:hover {
	color: rgb(253, 233, 0);
}

.identity-input {
	border-radius: 10px;
	background: transparent;
    outline: none;
	padding: 6px 15px 6px 15px;

    -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

#inputSearch::-webkit-input-placeholder       { text-indent: 0px; transition: text-indent 0.5s ease-out; opacity: 0.7; color: rgb(253, 233, 0); font-style: italic; font-weight: 100; }
#inputSearch::-moz-placeholder                { text-indent: 0px; transition: text-indent 0.5s ease-out; opacity: 0.7; color: rgb(253, 233, 0); font-style: italic; font-weight: 100; }
#inputSearch:-moz-placeholder                 { text-indent: 0px; transition: text-indent 0.5s ease-out; opacity: 0.7; color: rgb(253, 233, 0); font-style: italic; font-weight: 100; }
#inputSearch:-ms-input-placeholder            { text-indent: 0px; transition: text-indent 0.5s ease-out; opacity: 0.7; color: rgb(253, 233, 0); font-style: italic; font-weight: 100; }
#inputSearch:focus::-webkit-input-placeholder { text-indent: 500px; transition: text-indent 0.5s ease; }
#inputSearch:focus::-moz-placeholder          { text-indent: 500px; transition: text-indent 0.5s ease; }
#inputSearch:focus:-moz-placeholder           { text-indent: 500px; transition: text-indent 0.5s ease; }
#inputSearch:focus:-ms-input-placeholder      { text-indent: 500px; transition: text-indent 0.5s ease; }

#inputSearch {
	border-radius: 10px;
	border: solid 2px rgba(253, 233, 0, 0.3);
	color: rgb(253, 233, 0);
    height: 49px;
}

#search:hover {
	background: transparent;
}

/* END Regular search */

/* Advanced search */

#advanced-search-form {
    position: absolute;
    display: none;
    top: 0;
    width: 100%;
    background: #28282f;
    height: 180px;
    z-index: 10;
    padding-left: 20px;
    margin-left: -20px;
}

/* search-select */

.search-select {
    position: relative;
    top: 50px;
}

.dropdown-toggle.search-select-btn {
    color: white;
    border-radius: 10px 0 0 10px;
    line-height: 45px;
    border: 2px solid #69696e;
    height: initial;
}

.open .dropdown-toggle.search-select-btn {
    background: #fff200;
    border: 2px solid #fff200;
    border-radius: 0;
    color: rgb(23, 26, 53);
}

.search-select-btn .bs-caret {
    margin-top: 9px;
    margin-right: 8px;
}

.open .search-select-btn .bs-caret {
    margin-top: 15px;
    margin-right: 8px;
    background-image: url('../images/dropdown-icon-active.png');
}

/* span текста, title, находящийся внутри осн. поля селекта */
.btn.dropdown-toggle.search-select-btn .filter-option {
    position: static;
    top: initial;
    left: initial;
    font-size: 16px;
}

.dropdown-menu .search-option {
    background: #ffffff;
    color: rgb(23, 26, 53);
}

.dropdown-menu .search-option:focus {
    background: #fff200;
}

.dropdown-menu .selected .identity-option {
    color: rgb(23, 26, 53);
}

/* articles-select */

.btn-group.bootstrap-select.identity-select.articles-select {
    width: 125px;
    margin-right: 15px;
}

.identity-articles-block .block-header .btn-group.bootstrap-select.identity-select:first-of-type {
    margin-left: -30px;
}

.articles-select-btn .bs-caret {
    margin-right: 5px;
}

.open .articles-select-btn .bs-caret {
    margin-right: 5px;
}

/* END articles-select */

/* month-select */
.btn-group.bootstrap-select.identity-select.month-select {
    width: 150px;
}

/* news-select */
.btn-group.bootstrap-select.identity-select.news-select {
    width: 215px;
}

/* articles-select */
.btn-group.bootstrap-select.identity-select.articles-select2 {
    width: 165px;
}

/* adv-search-field */

.adv-search-field {
    position: relative;
    margin-left: -4px;
    top: 50px;
    background: transparent;
    border-top: 2px solid #69696e;
    border-bottom: 2px solid #69696e;
    border-right: none;
    border-left: none;
    height: 49px;
    width: 300px;
    color: white;
    padding-left: 10px;
}

.adv-search-field:focus {
    outline: none;
}

/* adv-search-btn */

.adv-search-btn {
    position: relative;
    top: 55px;
    border-top: 2px solid #69696e;
    border-bottom: 2px solid #69696e;
    border-right: 2px solid #69696e;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 49px;
    margin-left: -3px;
    display: inline-block;
}

.adv-search-btn:hover {
    background-color: #fff200;
    border-color: #fff200;
}

.adv-search-btn:hover input{
    background-image: url('../images/search-active-icon.png');
}

.adv-search-btn input {
    margin-top: 10px;
    width: 22px;
    margin-left: 20px;
    margin-right: 15px;
    background: transparent url('../images/search-icon.png');
    background-size: 22px;
    border: none;
}

/* adv-search-close */

.adv-search-close {
    position: relative;
    margin-left: 8px;
    top: 60px;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.adv-search-close:hover {
    background-color: #fff200;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    border: none;
}

.adv-search-close a {
    background-image: url('../images/advanced-search-close-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    margin-bottom: 7px;
}

.adv-search-close:hover a {
    background-image: url('../images/close-icon.png');
    background-position: center;
    background-repeat: no-repeat;
}

/* END Advanced search */

/* END Search */

/* END Intro */

/* Main */

.main {
	padding: 0;
	height: 100%;
	margin-left: 150px;
    width: auto;
	width: initial;
    min-height: 100%;
}

.main h3 {
	padding-top: 50px;
	padding-bottom: 20px;
	color: white;
}

.main .page-header {
    margin-top: 0;
    border-bottom: 0;
    font-weight: 100;
    width: 55%;
    position: relative;
    z-index: 5;
}

.height-fix {
    min-height: 8em;
}

.main-bg-pic {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
}

.intro-block .identity-btn {
    position: relative;
    margin-bottom: 20px;
    width: 220px;
    background-image: url('../images/report-on-button.png');
    background-position: 13px;
    background-repeat: no-repeat;
    background-size: 35px;
    color: white;
}

.intro-block .identity-btn:after {
    content: 'Report';
}

.intro-block .identity-btn:hover:after {
    content: 'I need help';
    color: black;
    background-image: none;
    transition: content 0.3s ease-out;
}

.note-banner {
    background: transparent;
    border: solid 2px rgba(255, 255, 255, 0.3);
    border-radius: 14px;
    position: absolute;
    top: 50px;
    left: 600px;
    padding: 15px 10px 10px 10px;
    color: white;
}

.note-banner img {
    opacity: 0.5;
}

.note-banner .clock {
    margin-right: -2px;
}

.note-banner .tel {
    white-space: pre-line;
    margin: 10px 0 10px 27px;
    line-height: 1em;
}

/* Report btn on every page */

.report-block {
    float: right;
    position: relative;
    z-index: 99;
}

#report {
    overflow: hidden; /* Hides "Report" text when elements is hover */
    display: block;
    background-image: url('../images/report-on-button.png');
    background-position: 5px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-color: #00ff96;
    height: 50px;
    width: 50px;
    right: 20px;
    border-radius: 50px;
    top: 150px;
    position: absolute;
    color: rgba(0, 0, 0, 0);
}

#report:after {
    color: rgba(0, 0, 0, 0);
    content: "";
}

#report:hover:after {
    padding-left: 55px;
    top: 15px;
    position: absolute;
    content: "Report";
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    transition: color 0.3s ease-in-out;
}

#report:hover {
    width: 120px;
    background-color: #fff200;
    background-position: 13px;
    background-image: url('../images/report-icon.png');
    transition: width 0.3s ease;
}

/* END Report btn */

/* END Main */

/* Footer */

/* The techniques is to set min-height/height: 100% and set negative bottom margin to footer height,
and also add pusher block to make sure text will not hide behind the footer
when height of the content is higher than the height of the page  */

* {
    margin: 0;
}

html {
    min-height: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    height: 100%;
}

.container-fluid {
    min-height: 100%;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: 100%;
}

.main {
    min-height: 100%;
    height: 100%;
}

.main-wrapper {
    min-height: 100%;
    margin-bottom: -120px;
}

.main-wrapper:after {
  content: "";
  display: block;
}

.main-wrapper:after {
    height: 120px;
}

.footer {
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 120px;
	background-color: #f0f1f8;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.footer .footer-logo  {
    margin-top: 50px;
    margin-right: auto;
	margin-left: auto;
    width: 300px;
    color: #c0c1ce;
}

/* END Footer */

/* Footer menu */

.col-xs-2-10 {
    width: 20%;
    float: left;
}

.footer-menu {
    text-align: center;
}

.footer-menu div:first-of-type {
    padding: 5px 10px 5px 10px;
    display: inline-block;
    background-color: #f0f1f8;
    border-radius: 14px;
}

.footer-menu a {
    color: #515672;
}

.footer-menu div:first-of-type:hover {
    background-color: #00ff96;
    transition: background-color 0.3s ease;
}

.footer-menu a:first-of-type:hover {
    text-decoration: none;
}

/* END Footer menu */

/* About page */

.identity-block {
    margin: 45px 0 45px 45px;
    width: 80%;
    position: relative;
}

.identity-block > b:first-of-type {
    margin-bottom: 30px;
    display: block;
    font-weight: 700;
}

.identity-block > p {
    margin: 20px 0;
}

.contact-form {
    width: 66%;
}

.contacts {
    overflow: hidden;
    width: 80%;
}

.main-block {
	margin: 0;
    position: relative;
    overflow: hidden;
}

.main-block .article-block {
    width: 91.66666667%;
    margin: 30px 0 0 30px;
}

.main-branding {
    position: relative;
    overflow: hidden;
    display: block;
}

.main-branding:before {
    background-image: url('../images/content-logo.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    top: -110px;
    right: -120px;
    width: 380px;
    height: 380px;
    z-index: 0;
    content: "";
}

.contacts img:first-of-type {
    float: left;
}

.contacts .col-xs-6 {
    padding: 0;
}

.contacts p {
    margin: 0 0 0 30px;
}

.contacts p:first-of-type {
    margin-bottom: 10px;
}

.contact-form input {
    margin-left: auto;
    margin-right: 0;
    display: block;
}

.contact-form textarea {
    height: 6em;
}

.contact-form .identity-btn {
    color: black;
}

.identity-btn {
    background: #00ff96;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 9px 18px;
    text-decoration: none;
    color: black;
}

.identity-btn:hover,
.identity-btn:active,
.identity-btn:focus,
.identity-btn:active:focus{
    outline: none;
    text-decoration: none;
    background: #fff200;
    border: none;
    color: black;
}

/* END About page */

/* Article page */

.content {
    width: 70%;
    float: left;
}

.banners-block {
    width: 28%;
    float: left;
}

.article-title {
    font-weight: 100;
    font-size: 2em;
}

.tags-block {
    vertical-align: middle;
    display: inline-block;
}

.metadata-row .pre-share-wrapper {
    width: calc(100% - 150px);
    display: inline-block;
    margin: 0;
}

.tags {
    font-weight: 700;
    display: inline-block;
}

.article-metadata {
    font-size: 0.9em;
}

.metadata-row {
    display: block;
}

.metadata-row > * {
    vertical-align: middle;
    margin: auto 10px;
}

.metadata-row .date-block {
    margin: 0 10px 0 0;
}

.date-block {
    border: solid 3px #a1a3a9;
    border-radius: 14px;
    text-align: center;
    display: inline-block;
    padding: 5px 13px;
}

.section-block {
    border: solid 3px #99ffd5;
    border-radius: 14px;
    text-align: center;
    display: inline-block;
    padding: 5px 13px;
}

.author-block {
    display: inline-block;
}

.article-author {
    font-weight: 700;
    text-transform: capitalize;
    display: inline-block;
}

/* Share block */

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.share-block {
    width: 130px;
    display: inline-block;
    padding: 5px 7px;
    vertical-align: middle;
    margin: auto 0 auto 10px;
}

.share-block-inner {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.share-block-inner span {
    vertical-align: middle;
    display: inline-block;
}

.share-block-inner img {
    position: relative;
    left: 25px;
}

.share-block-inner div {
    vertical-align: middle;
    display: inline-block;
    width: 46%;
}

.share-block:hover {
    background: #fff200;
    border-radius: 8px;
}

.share-block:hover .share-block-inner {
    display: none;
}

.share-block:hover .share-block-expanded {
    display: inline-block;

    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.share-block-expanded {
    display: none;
    width: 100%;
}

.share-block-expanded span {
    height: 100%;
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.share-block-expanded a {
    display: inline-block;
    opacity: 0.4;
    height: 100%;
    width: 100%;
}

.share-block-expanded img {
    vertical-align: middle;
}

.share-block-expanded span:hover a {
    opacity: 1;
    text-decoration: none;
}

.page-header .go-link span{
    font-size: 24px;
    font-weight: 100;
}

/* END Share block */

/* END Article page */

/* Main page */

.news-block {
    /*width: 91.66667%;*/
    width: 80%;
    margin: 20px 0 20px 45px;
}

.go-link {
    margin-bottom: 10px;
}

.go-link span {
    vertical-align: middle;
    font-size: 16px;
    font-weight: 700;
}

.go-link .link {
    margin-left: 10px;
    background: url('../images/back.png') no-repeat;
    background-size: contain;
    display: inline-block;
    height: 20px;
    width: 50px;
    vertical-align: middle;
}

.go-link .link:hover {
    background: url('../images/back-active.png') no-repeat;
    background-size: contain;
}

.article-badges {
    margin-left: 20px;
}

.article-column {
    margin: 0 10px;
    width: 150px;
    display: inline-block;
    vertical-align: top;
}

.article-badge {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    display: block;
    text-decoration: none;
    color: black;
}

.article-badge:hover {
    background: #fff200;
    text-decoration: none;
    color: black;
}

.article-badge .photo-mark,
.article-badge-darken .photo-mark {
    position: absolute;
    width: 22px;
    height: 22px;
    display: block;
    background: url('../images/article-preview-photo-included.png') no-repeat;
    background-size: contain;
}

.article-badge:hover .photo-mark {
    background: url('../images/article-preview-active-photo-included.png') no-repeat;
    background-size: contain;
}

.article-badge .video-mark,
.article-badge-darken .video-mark {
    position: absolute;
    width: 25px;
    height: 25px;
    display: block;
    background: url('../images/article-preview-video-included.png') no-repeat;
    background-size: contain;
}

.article-badge:hover .video-mark {
    background: url('../images/article-preview-active-video-included.png') no-repeat;
    background-size: contain;
}

.pos1 {
    left: 11px;
    top: 11px;
}

.pos2 {
    left: 37px;
    top: 12px;
}

.article-badge .cover {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.article-badge:hover .cover {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.article-badge .date {
    border: solid 2px rgba(255, 255, 255, 0.4);
    position: absolute;
    color: white;
    border-radius: 11px;
    right: 9px;
    top: 7px;
    padding: 5px 10px 4px 10px;
}

.article-badge:hover .date {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.article-badge img {
    width: 100%;
}

.article-badge .article-title {
    background: #f5f6fa;
    padding: 10px 13px 20px 13px;
    position: relative;
    top: 0;
    transition: top 0.3s ease-in;
    font-size: 14px;
    font-weight: 300;
    color: #2e3455;
}

.article-badge:hover .article-title {
    background: #fff200;
    top: -40px;
    transition: top 0.3s ease-in;
}

.article-badge .read-article {
    position: absolute;
    bottom: -30px;
    left: 25px;
    transition: bottom 0.3s ease-out;
}

.read-article .go-link span {
    font-size: 14px;
}

.read-article .go-link .link {
    margin-left: 5px;
    background: url('../images/read-article.png') no-repeat;
    background-size: contain;
    height: 20px;
    width: 50px;
}

.article-badge:hover .read-article {
    bottom: 0;
    transition: bottom 0.3s ease-out;
}

.events-block {
    width: 100%;
    background-color: #222537;
    padding: 20px 10% 45px 45px;
    position: relative;
    overflow: hidden;
    opacity: 0.99;
    color: white;
    height: 280px;
}

.events-block .wr {
    height: 100%;
    width: 100%;
}

.events-block .go-link {
    opacity: 0.99;
    z-index: 9999;
}

.events-block .bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-image: url('../images/timeline-identity-logo.png');
    background-position: 30px 30px;
    background-size: 600px;

    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
}

.timeline-btn {
    display: block;
    opacity: 0.99;
    z-index: 9999;
    width: 10%;
    position: absolute;
    top: 50%;
}

#timeline-prev {
    left: 0;
    text-align: right;
}

#timeline-next {
    left: 88%;
    text-align: left;
}

.timeline-btn a {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background: url('../images/timeline-previous.png') no-repeat;
    background-size: contain;
}

.timeline-btn a:hover {
    background-image: url('../images/timeline-previous-active.png');
    background-size: contain;
}

.events-block .timeline {
    position: absolute;
    z-index: 9999;
    background-size: 100% 3px;
    background-image: url('../images/timeline.png');
    background-repeat: no-repeat;
    background-position: 0 56%;
    display: inline-block;
    width: 78%;
    left: 10%;
    height: 100%;
    top: 0;
    vertical-align: middle;
}

.events-block .event {
    display: block;
    position: absolute;
    top: 0;
    height: 73%;
    width: 20%;
    transform: translate(-50%, 0);
    margin: 0 20px;
}

.events-block .event .event-name {
    display: block;
    text-align: center;
    position: relative;
    height: 67%;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    transition: bottom 0.3s ease-in;
}

.events-block .event .event-name div {
    position: absolute;
    bottom: 0;
}

.events-block .event .circle-area {
    left: calc(50% - 20px);
    top: 50%;
    transform: translate(0, 4px);
    position: absolute;
    width: 40px;
    height: 60px;
}

.events-block .event .circle-area .small-circle {
    border-radius: 5px;
    width: 10px;
    height: 10px;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 5px;
    left: 14px;
    background: #fff200;
}

.events-block .event .circle-area:hover .circle{
    border: 2px solid #fff200;
    bottom: 35px;
    transition: bottom 0.3s ease-out;
}

.events-block .event .circle-area:hover + div {
    bottom: 30px;
    transition: bottom 0.3s ease-out;
}

.events-block .event .circle {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 2px solid #00ff96;
    background-color: #1d1e25;
    position: absolute;
    bottom: 0;
    left: 10px;
    transition: bottom 0.3s ease-in;
}

.events-block .event .event-date {
    height: 20%;
    text-align: center;
    opacity: 0.7;
    font-size: 12px;
    margin-top: 40px;
}

.events-block .event .event-date b {
    font-weight: 900;
}

.events-block .go-link span {
    color: #ffffff;
}

.sections-block {
    padding: 60px 0 40px 45px;
    background: #f0f1f8;
}

.sections-block .big-section {
    width: 32%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0 50px;
}

.sections-block .big-section > img {
    opacity: 0.5;
    height: 105px;
}

.sections-block .big-section .section-name {
    font-weight: 700;
    font-size: 22px;
    white-space: pre-line;
    margin: 15px 0;
}

.sections-block .big-section a {
    border: 2px solid #b1b3c0;
    border-radius: 15px;
    padding: 12px 25px;
    background: transparent;
    margin-top: 20px;
    display: inline-block;
}

.sections-block .big-section a:hover {
    background: #fff200;
    border: 2px solid #fff200;
}

.sections-block .big-section a img {
    height: 25px;
}

.sections-block .big-section a:focus,
.sections-block .big-section a:active,
.sections-block .big-section a:active:focus {
    outline: none;
}

.image-text-block {
    padding: 20px 0 60px 45px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 13px;
}

.image-text-block .flatblock-text {
    white-space: pre-line;
}

.image-text-block .go-link {
    margin-bottom: 30px;
}

.image-text-block b {
    font-weight: 700;
    font-size: 15px;
    margin: 15px 0 30px 0;
    display: block;
}

.image-text-block p {
    width: 80%;
    margin: 15px 0;
}

.subscribe-block {
    padding: 20px 0 45px 45px;
    font-weight: 100;
    font-size: 24px;
    position: relative;
}

.subscribe-block div {
    display: inline-block;
}

.subscribe-block p {
    margin: 0;
    white-space: pre-line;
}

.subscribe-block > * {
    vertical-align: top;
}

.subscribe-block .subscribe-btn {
    margin-left: 20px;
    position: relative;
    top: 4px;
    color: black;
}

#subscribe-form {
    display: none;
    position: absolute;
    top: -145px;
    left: 260px;
    background: #222537;
    padding: 18px 16px 16px 16px;
    color: #ffffff;
    width: 300px;
}

#subscribe-form input[type="text"],
#subscribe-form input[type="email"] {
    display: block;
    padding: 5px 15px 5px;
    border: 2px solid rgba(187, 187, 189, 0.5);
    background: transparent;
    font-size: 12px;
    font-weight: 300;
    color: rgba(187, 187, 189, 0.5);
    margin-bottom: 10px;
    width: 100%;
}

#subscribe-form input::-webkit-input-placeholder       { transition: opacity 0.5s ease-out; opacity: 0.5; }
#subscribe-form input::-moz-placeholder                { transition: opacity 0.5s ease-out; opacity: 0.5; }
#subscribe-form input:-moz-placeholder                 { transition: opacity 0.5s ease-out; opacity: 0.5; }
#subscribe-form input:-ms-input-placeholder            { transition: opacity 0.5s ease-out; opacity: 0.5; }
#subscribe-form input:focus::-webkit-input-placeholder { transition: opacity 0.5s ease-in; opacity: 0; }
#subscribe-form input:focus::-moz-placeholder          { transition: opacity 0.5s ease-in; opacity: 0; }
#subscribe-form input:focus:-moz-placeholder           { transition: opacity 0.5s ease-in; opacity: 0; }
#subscribe-form input:focus:-ms-input-placeholder      { transition: opacity 0.5s ease-in; opacity: 0; }

#subscribe-form input:active,
#subscribe-form input:active,
#subscribe-form input:focus,
#subscribe-form input:focus,
#subscribe-form input:active:focus,
#subscribe-form input:active:focus {
    outline: none;
}

#subscribe-form input[type="button"] {
    border: 2px solid transparent;
    background: transparent;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 20px;
}

#subscribe-form input[type="button"]:active,
#subscribe-form input[type="button"]:hover,
#subscribe-form input[type="button"]:focus,
#subscribe-form input[type="button"]:focus:active {
    background: #fff200;
    color: #000000;
    border-radius: 12px;
    border: 2px solid #fff200;
}

#subscribe-form input.do-subscribtion {
    border-radius: 12px;
    border: 2px solid white;
}

#subscribe-form .letter {
    display: inline-block;
}

#subscribe-form div:first-of-type {
    margin-bottom: 36px;
}

#subscribe-form div:first-of-type b {
    font-weight: 700;
    font-size: 14px;
    margin-left: 18px;
}

#subscribe-form div {
    width: 100%;
}

#subscribe-form .l,
#subscribe-form .r {
    width: 48%;
    display: inline-block;
}

#subscribe-form .l {
    text-align: center;
}

#subscribe-form .r {
    text-align: center;
}


/* END Main page */

/* ERROR Pages */

.error-page {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}

.e404 {
    padding-top: 300px;
}

.e502 {
    padding-top: 150px;
}

.error-page .identity-error {
    font-weight: 700;
    font-size: 65px;
    opacity: 0.5;
}

.error-page .full-logo {
    margin: 0 auto;
    position: relative;
    display: block;
    top: -200px;
}

.error-page img {
    margin: 0 auto;
    display: block;
}

.identity-error,
.error-desc,
.error-help-hint {
    text-align: center;
}

.error-desc {
    font-weight: 100;
    font-size: 40px;
}

.e404 .error-desc {
    margin-top: -150px;
}

.e502 .error-desc {
    margin-top: 30px;
}

.error-help-hint {
    font-weight: 700;
    opacity: 0.5;
    font-size: 19px;
}

/* END ERROR Pages */

/* EDU page */

.identity-text-block {
    background-color: #f0f1f8;
    padding: 45px 20% 20px 45px;
    font-size: 13px;
}

.identity-text-block > b:first-of-type {
    margin-bottom: 30px;
    display: block;
    font-weight: 700;
    font-size: 15px;
}

.identity-text-block > p {
    margin: 20px 0;
}

.identity-articles-block {
    padding: 25px 100px 25px 65px;
}

.friend-initiative-block {
    background-image: url('../images/DOTYK-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    padding: 45px;
}

.f-i-desc {
    margin: 30px 0 25px 0;
    color: #ffffff;
    font-weight: 700;
}

.f-i-btn {
    border: 2px solid rgba(0, 255, 150, 0.3);
    background: transparent;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 12px;
    color: #00ff96;
    display: block;
    width: 170px;
    text-align: center;
}

.f-i-btn:active,
.f-i-btn:hover,
.f-i-btn:focus,
.f-i-btn:focus:active {
    background: #fff200;
    color: #000000;
    border: 2px solid #fff200;
    text-decoration: none;
}

.show-more {
    border: 2px solid rgba(33, 37, 61, 0.3);
    color: rgb(33, 37, 61);
    background: transparent;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 12px;
    display: block;
    width: 140px;
    text-align: center;
    margin: 0 auto;
}

.show-more:active,
.show-more:hover,
.show-more:focus,
.show-more:focus:active {
    background: #fff200;
    border: 2px solid #fff200;
    text-decoration: none;
    color: rgb(33, 37, 61);
}

.article-badge-darken {
    position: relative;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
}

.article-badge-darken .cover {
    width: 100%;
    height: 100%;
}

.article-badge-darken:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 52, 85, 0.8);
    transition: background-color 0.3s ease-in;
}

.article-badge-darken:hover:before {
    background-color: rgba(255, 242, 0, 0.9);
    transition: background-color 0.3s ease-out;
}

.article-badge-darken .date {
    border: solid 2px rgba(255, 255, 255, 0.4);
    position: absolute;
    color: white;
    opacity: 1;
    transition: opacity 0.3s ease-out;
    border-radius: 11px;
    right: 9px;
    top: 7px;
    padding: 5px 10px 4px 10px;
}

.article-badge-darken:hover .date {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

/*@keyframes fadeInOut {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}*/

.article-badge-darken .article-title {
    position: absolute;
    display: block;
    top: 50px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    padding: 0 13px 0 13px;
    transition: color 0.3s ease-in, font-weight 0.3s ease-in, top 0.3s ease-in, transform 0.3s ease-in;
}

.article-badge-darken:hover .article-title {
    color: black;
    font-weight: 700;
    top: 50%;
    transform: translate(0, -50%);
    transition: color 0.3s ease-out, font-weight 0.3s ease-out, top 0.3s ease-out, transform 0.3s ease-out;
}

.article-badge-darken .photo-mark {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.article-badge-darken:hover .photo-mark {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.book-badge {
    margin-bottom: 10px;
    display: block;
}

.book-badge:hover,
.book-badge:active,
.book-badge:focus,
.book-badge:active:focus {
    text-decoration: none;
}

.book-badge .book-main {
    background-color: #2e3455;
    background-image: url('../images/PDF-icon.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: 13px 30px;
    width: 100%;
    padding: 100px 0 20px 0;
    position: relative;
}

.book-main .date {
    border-radius: 11px;
    border: solid 2px rgba(255, 255, 255, 0.4);
    position: absolute;
    color: white;
    font-size: 12px;

    border-radius: 11px;
    right: 9px;
    top: 7px;
    padding: 5px 10px 4px 10px;
}

.book-main .article-title {
    display: block;
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding: 0 13px 0 13px;
}

.book-footer {
    display: block;
    width: 100%;
    background-color: #8d91a5;
    background-image: url('../images/download-icon.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 90% 15px;
    transition: background-image 0.3s ease-in;
    height: 50px;
    position: relative;
}

.book-footer span {
    color: white;
    transition: color 0.3s ease-in;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.book-badge:hover .book-footer {
    background-image: url('../images/download-active-icon.png');
    background-repeat: no-repeat;
    background-color: #fff200;
    transition: background-image 0.3s ease-out, background-color 0.3s ease-out;
}

.book-badge:hover .book-footer span {
    color: #21253d;
    transition: color 0.3s ease-out;
}

/* END EDU Page */

/* PSY Page */

.identity-articles-block b {
    display: block;
    margin: 20px 0 20px -25px;
    font-weight: 700;
    font-size: 15px;
}

.identity-text-block input {
    width: 100%;
    background-color: transparent;
}

.identity-text-block input:first-of-type {
    margin-bottom: 15px;
}

.identity-text-block .subheader {
    font-weight: 700;
    font-size: 13px;
    display: block;
    margin: 20px 0;
}

.identity-text-block .col-xs-3 {
    padding-left: 0;
}

.identity-text-block .c {
    width: 37%;
    display: inline-block;
    height: 75px;
    vertical-align: top;
    margin-right: 20px;
}

.identity-text-block .c:last-of-type {
    width: 38%;
}

.identity-text-block .identity-textarea,
.rights-top-block .identity-textarea {
    width: calc(100% - 1px);
    height: 100%;
    background-color: transparent;
    margin: 0;
    border-radius: 0;
    border: 2px solid rgba(29, 30, 37, 0.3);
    font-size: 13px;
}

.rights-top-block .identity-textarea {
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.identity-text-block .identity-input,
.rights-top-block .identity-input {
    border-radius: 0;
    border: 2px solid rgba(29, 30, 37, 0.3);
    padding: 2px 15px 2px 15px;
    font-size: 13px;
    height: initial;
    line-height: 22px;
}

.rights-top-block .identity-input.inline {
    border: 2px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 15px;
    margin-right: 0;
}

.rights-top-block .fields {
    margin: 10px 40px 0 0;
}

.fields .spacer {
    width: 10px;
    display: inline-block;
}

.rights-top-block .identity-input.inline {
    width: calc(50% - 9px);
    box-sizing: border-box;
}

.rights-top-block .identity-input.inline:last-of-type {
    margin-right: 0;
}

.identity-text-block .textnbtn,
.rights-top-block .textnbtn {
    margin: 25px 0 10px 25px;
    width: 75%;
}

.rights-top-block .textnbtn {
    width: 100%;
}

.identity-text-block .textnbtn span {
    margin-left: -25px;
}

.identity-text-block .textnbtn .identity-btn,
.rights-top-block .textnbtn .identity-btn {
    display: block;
    float: right;
    margin-top: -8px;
    width: 100px;
    text-align: center;
}

.rights-top-block .textnbtn .identity-btn {
    width: 120px;
    text-align: center;
    margin-right: 25px;
    padding: 12px 20px;
}

.identity-text-block .textnbtn .identity-btn.ok {
    background-color: #25d7fd;
}

.identity-text-block .textnbtn .identity-btn.ok:hover {
    color: white;
}

.identity-text-block .textnbtn i,
.rights-top-block .textnbtn i {
    display: none;
    float: right;
    margin-right: 10px;
}

/* END PSY Page */

/* RIGHTS Page */

.rights-top-block {
    background: #212330;
    width: 100%;
    color: white;
}

.rights-top-block .c {
    width: 60%;
    margin-left: 40px;
    position: relative;
}

.rights-top-block b {
    margin-bottom: 0;
    display: block;
    font-weight: 700;
    font-size: 15px;
}

.rights-top-block b.with-img:before {
    content: '';
    display: inline-block;
    width: 30px;
    vertical-align: middle;
    height: 30px;
    background: url('../images/report-on-button.png') no-repeat;
    background-size: contain;
    opacity: 0.3;
    margin-right: 15px;
}

.rights-top-block b.with-img {
    vertical-align: middle;
}


.rights-top-block .identity-btn {
    padding: 15px 27px;
    color: white;
}

.rights-top-block .identity-btn.why:after {
    content: 'Почему это важно?';
}

.rights-top-block .identity-btn:hover {
    color: black;
}

.identity-btn.useful-link{
    background-color: #bcc0de;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
}

.identity-btn.useful-link:hover,
.identity-btn.useful-link:active,
.identity-btn.useful-link:focus,
.identity-btn.useful-link:active:focus{
    background: #fff200;
}

.identity-text-block.white {
    background-color: white;
}

.identity-text-block.white > b:first-of-type {
    font-size: 13px;
}

.identity-text-block.white b {
    margin-bottom: 30px;
    display: block;
    font-weight: 700;
    font-size: 15px;
}

.inline {
    display: inline-block;
}

.identity-input.inline {
    width: 33%;
    margin-right: 10px;
}

.v-c {
    width: 68%;
}

.v-c .identity-textarea {
    height: 80px;
}

.identity-text-block .v-c .textnbtn {
    width: 100%;
}

.identity-text-block .v-c .textnbtn .identity-btn {
    margin-right: 25px;
}

.identity-text-block .thanks,
.rights-top-block .thanks {
    display: none;
    white-space: pre-line;
}

.w50 {
    width: 40%;
}

.identity-radio + label.solid {
    vertical-align: top;
}

.identity-radio + label.solid span {
    margin-top: -41px;
    display: inline-block;
}

.wrap-relative {
    position: relative;
}

.intro-block.blur-overflow-fix,
.main-block.blur-overflow-fix {
    position: static;
    overflow: visible;
}

/* END RIGHTS Page */

/* Archive page */

.identity-articles-block .block-header {
    margin: 20px 0;
}

.page-header.lm20 {
    margin-left: 20px;
}

/* END Archive page */