{% extends 'meta.html' %}

{% load staticfiles %}
{% load i18n %}

{% block body %}
    <div class="error-page e404">
        <div class="identity-error">404</div>
        <div class="error-desc">
            {% trans 'Oops! No such a page' %}
        </div>
        <div class="error-help-hint">
            {% trans 'Please, check the address' %}
        </div>
    </div>
{% endblock %}