{% extends 'meta.html' %}

{% load staticfiles %}
{% load i18n %}

{% block body %}
    <div class="error-page e404">
        <div class="identity-error">405</div>
        <div class="error-desc">
            {% trans 'Greetings!' %}
            <br/>
            {% trans 'The request method you used is Not allowed! :)' %}
        </div>
        <br/>
        <div class="error-help-hint">
            {% trans 'We Do encourage you to use Right' %}
            <br/>
            {% trans 'request methods :)' %}
        </div>
    </div>
{% endblock %}