{% extends 'meta.html' %}

{% load staticfiles %}
{% load i18n %}

{% block body %}
    <div class="error-page e404">
        <div class="identity-error">500</div>
        <div class="error-desc">
            {% trans 'Eek! That was the server error' %}
        </div>
        <div class="error-help-hint">
            {% trans 'Do you think you could possibly report this error?' %}
        </div>
    </div>
{% endblock %}