{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block content %}
                <div class="main-wrapper">

<!--|  Intro block -->
                    <div class="intro-block blurred-image-fix">
                        <!-- blurred-image-fix is negative margin-->
                        <!-- Size of the box were X px bigger due to blurred background image. Nah! -->

                        <div class="main-pic-overflow">
                            <!-- This parent main-pic-overflow fix is for overflow:hidden -->
                            <!-- It was not applying to blurred borders of about-main-pic background image -->
                            <div class="about-main-pic main-pic">

                            </div>
                        </div>

                        {% include 'includes/search.html' %}

                        <h3 class="page-header">{% trans 'About us' %}</h3>
                    </div>
<!--|  END Intro block -->

<!--|  Main content block -->
                    <div class="row main-block main-branding">

                        {% include 'includes/report_btn.html' %}

                        <div class="identity-block">
                            {% include 'includes/flatblock.html' with block_name='about.mission' %}
                        </div>

                        <div class="identity-block">
                            {% include 'includes/flatblock.html' with block_name='about.description' %}
                        </div>

                        <div class="contacts identity-block">
                            <b>{% trans 'Our contacts' %}</b>
                            <div class="col-xs-6">
                                <img width="11" src="{% static 'images/tel-icon.png' %}"/><p>{% trans 'LGBTQ helpline number:' %}</p>

                                <p><b>8 (029) 108-1087</b></p>
                                <p><b>8 (029) 866-1087</b></p>
                            </div>
                            <div class="col-xs-6">
                                <img width="19" src="{% static 'images/clock-icon.png' %}"/><p>{% trans 'Working hours:' %}</p>
                                <p><b>{% trans 'Mo-Fr 10:00 a.m. &#8212; 1:00 p.m.' %}</b></p>
                            </div>
                        </div>

                        <div class="contact-form identity-block">
                            <b>{% trans 'Any questions? Write us!' %}</b>
                            <textarea class="identity-textarea easy_placeholder" placeholder="{% trans 'Message text' %}"></textarea>
                            <input type="button" class="btn identity-btn" value="{% trans 'Send' %}">
                        </div>

                    </div>
<!--|  END Main content block -->
                </div>
{% endblock %}