{% extends 'article_list.html' %}

{% load staticfiles %}
{% load i18n %}
{% load flatblocks %}
{% load identity_utils %}

{% block h3title %}
    {% trans 'Archive' %}
{% endblock %}

{% block title %}
    {% trans 'Identity. Archive' %}
{% endblock %}

{% block article_filters %}
                            <div class="block-header">
                                <select class="selectpicker identity-select articles-select" data-dropup-auto="false" data-size="8.6" data-style="identity-select-btn articles-select-btn" title="{% trans 'Year' %}">
                                    <option class="identity-option articles-option">{% trans 'All years' %}</option>
                                    <option class="identity-option articles-option">2016</option>
                                    <option class="identity-option articles-option">2015</option>
                                    <option class="identity-option articles-option">2014</option>
                                    <option class="identity-option articles-option">2013</option>
                                    <option class="identity-option articles-option">2012</option>
                                    <option class="identity-option articles-option">2011</option>
                                </select>

                                <select class="selectpicker identity-select articles-select month-select" data-dropup-auto="false" data-size="8.6" scroll-pane-content-width="160" data-style="identity-select-btn articles-select-btn" title="{% trans 'Month' %}">
                                    <option class="identity-option articles-option">{% trans 'All months' %}</option>
                                    <option class="identity-option articles-option">{% trans 'January' %}</option>
                                    <option class="identity-option articles-option">{% trans 'February' %}</option>
                                    <option class="identity-option articles-option">{% trans 'March' %}</option>
                                    <option class="identity-option articles-option">{% trans 'April' %}</option>
                                    <option class="identity-option articles-option">{% trans 'May' %}</option>
                                    <option class="identity-option articles-option">{% trans 'June' %}</option>
                                    <option class="identity-option articles-option">{% trans 'July' %}</option>
                                    <option class="identity-option articles-option">{% trans 'August' %}</option>
                                    <option class="identity-option articles-option">{% trans 'September' %}</option>
                                    <option class="identity-option articles-option">{% trans 'October' %}</option>
                                    <option class="identity-option articles-option">{% trans 'November' %}</option>
                                    <option class="identity-option articles-option">{% trans 'December' %}</option>
                                </select>
                            </div>
{% endblock %}