{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}
{% load flatblocks %}
{% load identity_utils %}

{% block content %}
                <div class="main-wrapper">

<!--|  Intro block -->
                    <div class="intro-block blurred-image-fix">

                        {% include 'includes/search.html' %}

                        <h3 class="page-header">
                            {% block h3title %}
                            {% endblock %}
                        </h3>
                    </div>
<!--|  END Intro block -->

<!--|  Main content block -->
                    <div class="row main-block">

                        {% include 'includes/report_btn.html' %}

                        <div class="identity-articles-block main-branding">

                            {% block article_filters %}
                            {% endblock %}

                            {% include 'includes/article_list.html' %}

                        </div>

                        {% include 'includes/subscribe.html' %}

                    </div>
<!--|  END Main content block -->
                </div>
{% endblock %}