{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block additional_js %}

    <!-- Social -->
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "e5682617-20d1-435f-8276-d9a1c3197934", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

{% endblock %}

{% block additional_head %}
    <meta name="author" content="{{ article.author }}">

    <link href="{% static 'css/content.css' %}" rel="stylesheet" charset="utf-8">
{% endblock %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
                <div class="main-wrapper">

<!--|  Intro block -->
                    <div class="intro-block blurred-image-fix">

                        {% include 'includes/search.html' %}

                        <h3 class="page-header">
                            <div class="go-link">
                                <a href="{% url 'news' %}" class="link"></a>
                                <span>{% trans 'News' %}</span>
                            </div>
                        </h3>
                    </div>
<!--|  END Intro block -->

<!--|  Main content block -->
                    <div class="main-block main-branding">
                        <div class="article-block">

<!--|    Article content block -->
                            <div class="content">

{#                                <span class='st_sharethis_hcount' displayText='ShareThis'></span>#}
{#                                <span class='st_facebook_hcount' displayText='Facebook'></span>#}
{#                                <span class='st_vkontakte_hcount' displayText='Vkontakte'></span>#}
{#                                <span class='st_twitter_hcount' displayText='Tweet'></span>#}
{#                                <span class='st__hcount' displayText=''></span>#}

                                <div class="article-title">
                                    {{ article.title }}
                                </div>

                                <div class="article-metadata">
                                    <div class="metadata-row clearfix">
                                        <div class="date-block">
                                            {{ entity_date|date:"d.m.Y" }}
                                        </div>

                                        <div class="section-block">
                                            {{ article.category }}
                                        </div>

                                        {% if article.author %}
                                        <div class="author-block">
                                            Author:
                                            <div class="article-author">
                                                {{ article.author }}
                                            </div>
                                        </div>
                                        {% endif %}

                                        <img src="{% static 'images/photos-included.png' %}" width="22">
                                        <img src="{% static 'images/video-included.png' %}" width="28">
                                    </div>

                                    <div class="metadata-row clearfix">
                                        <div class="pre-share-wrapper">
                                            <i class="vcenter-helper"></i>
                                            {% if article.tags %}
                                                <div class="tags-block">
                                                    Tags:
                                                    <div class="tags">
                                                        {% for tag in article.tags.all %}
                                                            {% trans tag.name %} {{ forloop.last|yesno:",&#44;"|safe }}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="share-block clearfix">
                                            <div class="share-block-inner">
                                                <i class="vcenter-helper"></i>
                                                <div>
                                                    <span>{% trans 'Share' %}</span>
                                                </div>
                                                <div>
                                                    <img src="{% static 'images/share.png' %}">
                                                </div>
                                            </div>
                                            <div class="share-block-expanded">
                                                <i class="vcenter-helper"></i>
                                                <span><a href="#">
                                                    <i class="vcenter-helper"></i>
                                                    <img src="{% static 'images/vk-share-icon.png' %}">
                                                </a></span>
                                                <span><a href="#">
                                                    <i class="vcenter-helper"></i>
                                                    <img src="{% static 'images/fb-share-icon.png' %}">
                                                </a></span>
                                                <span><img src="{% static 'images/share-active.png' %}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="block article-content">
                                    {{ article.content|safe }}
                                </div>

                            </div>
<!--|    END Article content block -->

<!--|    Banners block -->
                            <div class="banners-block">

                            </div>
<!--|    END Banners block -->

                        </div>

                        {% include 'includes/report_btn.html' %}

                    </div>
<!--|  END Main content block -->
                </div>
{% endblock %}
