{% extends 'article_list.html' %}

{% load staticfiles %}
{% load i18n %}
{% load flatblocks %}
{% load identity_utils %}

{% block h3title %}
    {% trans 'Articles' %}
{% endblock %}

{% block title %}
    {% trans 'Identity. Articles' %}
{% endblock %}

{% block article_filters %}
                            <div class="block-header">
                                <select class="selectpicker identity-select articles-select articles-select2" data-dropup-auto="false" data-size="8.6" data-style="identity-select-btn articles-select-btn" title="{% trans 'All articles' %}">
                                    <option class="identity-option articles-option">{% trans 'All articles' %}</option>
                                    <option class="identity-option articles-option">{% trans 'Rights' %}</option>
                                    <option class="identity-option articles-option">{% trans 'Psycology' %}</option>
                                </select>
                            </div>
{% endblock %}