{% extends 'meta.html' %}

{% load staticfiles %}
{% load i18n %}

{% block body %}
    <div class="container-fluid">
		<div class="row wrapper">
<!--|Sidebar -->
			<div class="col-sm-2 sidebar">
				<div class="menu">
					<a href="{% url 'index' %}">
                        <img src="{% static 'images/Logo86.png' %}" width="70" alt="Organisation logo image"/>
                    </a>
					<ul class="nav nav-sidebar">
						<li><a href="{% url 'about' %}">
                            {% trans "About us" %}
                        </a></li>
						<li><a href="{% url 'rights' %}">
                            {% trans "LGBT Rights" %}
                        </a></li>
						<li><a href="{% url 'psy' %}">
                            {% trans 'Psycological support' %}
                        </a></li>
						<li><a href="{% url 'edu' %}">
                            {% trans 'Educational' %}
                        </a></li>
						<li><a href="{% url 'volunteer' %}">
                            {% trans 'Join us!' %}
                        </a></li>
					</ul>
				</div>
                <div class="menu-footer">
                    <div id="lang-block">
                        {% if LANGUAGE_CODE == 'en' %}
                            <a href="{{ request.path|slice:"3:" }}">РУС/БЕЛ</a>&nbsp;&nbsp;
                            <a href="{{ request.path }}">ENG</a>
                        {% else %}
                            <a href="{{ request.path }}">РУС/БЕЛ</a>&nbsp;&nbsp;
                            <a href="/en{{ request.path }}">ENG</a>
                        {% endif %}
                    </div>
                    <br>
                    <table id="social-block">
                        <tr>
                            <td><a href="https://www.facebook.com/identityby">
                                <img width="50" height="50" src="{% static 'images/fb-group-icon.png' %}"/>
                            </a></td>
                            <td><a href="https://vk.com/identityby">
                                <img width="50" height="50" src="{% static 'images/vk-group-icon.png' %}"/>
                            </a></td>
                            <td><a href="https://twitter.com/identityby">
                                <img width="50" height="50" src="{% static 'images/twitter-group-icon.png' %}"/>
                            </a></td>
                        </tr>
                    </table>
                </div>
			</div>
<!--|END Sidebar -->

<!--|Content block -->
            <div class="col-sm-10 col-md-10 main">
                {% block content %}

                {% endblock %}

<!--|  Footer -->
                <footer class="footer">
                    <div class="col-xs-2-10 footer-menu">
                        <div>
                            <a href="{% url 'edu' %}">
                                {% trans 'History of belarussian LGBTQ movement' %}</a>
                        </div>
                    </div>
                    <div class="col-xs-2-10 footer-menu">
                        <div>
                            <a href="{% url 'edu' %}">
                                {% trans 'Library' %}</a>
                        </div>
                    </div>
                    <div class="col-xs-2-10 footer-menu">
                        <div>
                            <a href="{% url 'articles' %}">
                                {% trans 'Articles' %}</a>
                        </div>
                    </div>
                    <div class="col-xs-2-10 footer-menu">
                        <div>
                            <a href="{% url 'news' %}">
                                {% trans 'News' %}</a>
                        </div>
                    </div>
                    <div class="col-xs-2-10 footer-menu">
                        <div>
                            <a href="{% url 'about' %}">
                                {% trans 'Partnership' %}</a>
                        </div>
                    </div>
                    <div class="footer-logo">
                    </div>
                </footer>
<!--|  END Footer -->
            </div>
<!--|END Content block -->

        </div>
    </div>
{% endblock %}