{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block content %}
                <div class="main-wrapper">

<!--|  Intro block -->
                    <div class="intro-block blurred-image-fix">
                        <!-- blurred-image-fix is negative margin-->
                        <!-- Size of the box were X px bigger due to blurred background image. Nah! -->

                        <div class="main-pic-overflow">
                            <!-- This parent main-pic-overflow fix is for overflow:hidden -->
                            <!-- It was not applying to blurred borders of about-main-pic background image -->
                            <div class="edu-main-pic main-pic">

                            </div>
                        </div>

                        {% include 'includes/search.html' %}

                        <h3 class="page-header">{% trans 'Education and culture' %}</h3>
                    </div>
<!--|  END Intro block -->

<!--|  Main content block -->
                    <div class="row main-block">

                        {% include 'includes/report_btn.html' %}

                        <div class="identity-text-block">
                            {% include 'includes/flatblock.html' with block_name='edu.history' %}
                        </div>

                        <div class="identity-articles-block main-branding">

                            {% include 'includes/article_list.html' with columns=history_columns %}

                        </div>


                        <div class="identity-text-block">
                            {% include 'includes/flatblock.html' with block_name='edu.trainings' %}
                        </div>

                        <div class="identity-articles-block">

                            {% include 'includes/article_list.html' with columns=training_columns %}

                        </div>

                        <div class="identity-text-block">
                            {% include 'includes/flatblock.html' with block_name='edu.library' %}
                        </div>

                        <div class="identity-articles-block">
                            {% include 'includes/book_list.html' with columns=book_columns %}
                        </div>

                        <div class="friend-initiative-block">
                            <img class="f-i-logo" src="{% static 'images/DOTYK-logo.png' %}">
                            <div class="f-i-desc">
                                {% include 'includes/flatblock.html' with block_name='edu.friend' %}
                            </div>
                            <a class="f-i-btn" href="http://dotyk.by" target="_blank">{% trans 'Learn more' %}</a>
                        </div>

                        {% include 'includes/subscribe.html' %}

                    </div>
<!--|  END Main content block -->
                </div>
{% endblock %}