{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}
{% load flatblocks %}
{% load identity_utils %}

{% block additional_head %}
    <style>
        .intro-block .identity-btn:after {
            content: '{% trans "Report" %}';
        }

        .intro-block .identity-btn:hover:after {
            content: '{% trans "I need help" %}';
        }
    </style>
{% endblock %}

{% block content %}
                <div class="main-wrapper">

<!--|  Intro block -->
                    <div class="intro-block index-main-pic" style="background-image: url('{% static 'images/main-pic.png' %}');">

                        <div class="note-banner">
                            <div>
                                &nbsp;<img src="{% static 'images/tel-white-icon.png' %}">
                                &nbsp;&nbsp;{% trans 'LGBTQ helpline number:' %}
                            </div>
                            <div class="tel">8 (029) 108-1087
                                8 (029) 866-1087
                            </div>
                            <div>
                                <img class="clock" src="{% static 'images/clock-white-icon.png' %}">
                                &nbsp;{% trans 'Mo-Fr 10:00 a.m. &#8212; 1:00 p.m.' %}
                            </div>
                        </div>

                        {% include 'includes/search.html' %}

                        <h3 class="page-header height-fix">
                            {% include 'includes/flatblock.html' with block_name='index.header' %}
                        </h3>

                        <a href="{% url 'rights' %}" class="btn identity-btn"></a>
                    </div>
<!--|  END Intro block -->

<!--|  Main content block -->
                    <div class="row main-block main-branding">

                        {% include 'includes/report_btn.html' %}

                        <div class="news-block">
                            <div class="go-link">
                                <span>{% trans 'News' %}</span>
                                <a href="{% url 'news' %}" class="flipped link"></a>
                            </div>

                            <div class="article-badges">

                                {% include 'includes/article_list.html' %}

                            </div>

                        </div>

                        <div class="events-block">
                            <div class="bg-image">
                            </div>
                            <div class="go-link">
                                <span>{% trans 'Events' %}</span>
{#                                <a href="" class="flipped link"></a>#}
                            </div>

                            <div id="timeline-prev" class="timeline-btn">
                                <a href="#"></a>
                            </div>

                            <div class="timeline">
                                <div class="start-marker"></div>

                                {% for event in events %}

                                    <div class="event" style="left: {{ event.left }}%; visibility: {{ event.dummy|yesno:'hidden,visible' }} ">
                                        {% if not event.dummy %}
                                        <a href="{% url 'event' id=event.pk year=event.event_date|date:"Y" month=event.event_date|date:"m" day=event.event_date|date:"d" slug=event.slug %}" class="circle-area">
                                        {% else %}
                                        <a href="" class="circle-area">
                                        {% endif %}
                                            <div class="small-circle"></div>
                                            <div class="circle"></div>
                                        </a>
                                        <div class="event-name"><div>{{ event.title }}</div></div>
                                        <div class="event-date"><b>{{ event.event_date|date:'d' }}</b> {{ event.event_date|date:'E' }}</div>
                                    </div>

                                {% endfor %}

                                <div class="end-marker"></div>
                            </div>

                            <div id="timeline-next" class="timeline-btn">
                                <a href="#" class="flipped"></a>
                            </div>
                        </div>

                        <div class="sections-block">

                            <div class="big-section">
                                <img src="{% static 'images/edu-logo.png' %}">
                                <div class="section-name">{% trans 'Education&#10;&nbsp;' %}</div>
                                <div class="section-desc">
                                    {% include 'includes/flatblock.html' with block_name='index.section.edu' %}
                                </div>
                                <a href="{% url 'edu' %}">
                                    <img src="{% static 'images/read-article.png' %}">
                                </a>
                            </div>

                            <div class="big-section">
                                <img src="{% static 'images/psy-logo.png' %}">
                                <div class="section-name">{% trans 'Psycological&#10;aid' %}</div>
                                <div class="section-desc">
                                    {% include 'includes/flatblock.html' with block_name='index.section.psy' %}
                                </div>
                                <a href="{% url 'psy' %}">
                                    <img src="{% static 'images/read-article.png' %}">
                                </a>
                            </div>

                            <div class="big-section">
                                <img src="{% static 'images/right-logo.png' %}">
                                <div class="section-name">{% trans 'Protecting&#10;Human rights' %}</div>
                                <div class="section-desc">
                                    {% include 'includes/flatblock.html' with block_name='index.section.rights' %}
                                </div>
                                <a href="{% url 'rights' %}">
                                    <img src="{% static 'images/read-article.png' %}">
                                </a>
                            </div>

                        </div>

                        <div class="image-text-block" style="background-image: url('{% static 'images/main-org.png' %}');">
                            <div class="go-link">
                                <span>{% trans 'Who we are?' %}</span>
                                <a href="{% url 'about' %}" class="flipped link"></a>
                            </div>
                            <p class="flatblock-text">{% include 'includes/flatblock.html' with block_name='index.about' %}</p>
                        </div>

                        {% include 'includes/subscribe.html' %}

                    </div>
<!--|  END Main content block -->
                </div>
{% endblock %}