{% extends 'meta.html' %}

{% load staticfiles %}
{% load i18n %}

{% block body %}
    <div class="error-page e502">
        <img src="{% static 'images/maintenance.png' %}">
        <div class="error-desc">
            {% trans 'Maintenance' %}
        </div>
        <div class="error-help-hint">
            {% trans 'Come and see us soon!' %}
        </div>
    </div>
{% endblock %}