{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
    <meta name="creator" content="Roman *Romeno* Troshkin">
    <meta name="publisher" content="Identity">

{#    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />#}

	<title>{% block title %}{% trans 'Identity' %}{% endblock %}</title>
	<!-- Bootstrap -->
	<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">

    <!-- Latest compiled and minified CSS -->
    <link href="{% static 'bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet" type="text/css">

	<link href="{% static 'jScrollPane/jquery.jscrollpane.css' %}" rel="stylesheet" media="all" type="text/css"/>

	<!-- Custom styles for this template -->
	<link href="{% static 'css/styles.css' %}" rel="stylesheet" charset="utf-8">
	<link href="{% static 'css/hacks.css' %}" rel="stylesheet" charset="utf-8">

    <style>
        #report:hover:after {
            content: '{% trans "Report" %}';
        }

        .rights-top-block .identity-btn.why:after {
            content: '{% trans "Why it is important?" %}';
        }

        #report:hover {
            {% if LANGUAGE_CODE == 'en' %}
                width: 120px;
            {% else %}
                width: 145px;
            {% endif %}
        }
    </style>

    {% block additional_head %}
    {% endblock %}

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    {% block body %}

    {% endblock body %}

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static 'jquery/jquery.js' %}"></script>

    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

    <script src="{% static 'bootstrap-select/js/bootstrap-select.min.js' %}"></script>

    <script src="{% static 'jScrollPane/jquery.mousewheel.js' %}" type="text/javascript" ></script>
    <script src="{% static 'jScrollPane/mwheelIntent.js' %}" type="text/javascript" ></script>
    <script src="{% static 'jScrollPane/jquery.jscrollpane.js' %}" type="text/javascript" ></script>

    <script src="{% static 'js/custom.js' %}"></script>

    {% block additional_js %}

    {% endblock %}

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
</body>
</html>
