{% extends 'article_list.html' %}

{% load staticfiles %}
{% load i18n %}
{% load flatblocks %}
{% load identity_utils %}

{% block h3title %}
    {% trans 'News' %}
{% endblock %}

{% block title %}
    {% trans 'Identity. News' %}
{% endblock %}

{% block article_filters %}
                            <div class="block-header">
                                <select class="selectpicker identity-select articles-select news-select" data-dropup-auto="false" data-size="8.6" data-style="identity-select-btn articles-select-btn" title="{% trans 'All news' %}">
                                    <option class="identity-option articles-option">{% trans 'All news' %}</option>
                                    <option class="identity-option articles-option">{% trans 'Belarus news' %}</option>
                                    <option class="identity-option articles-option">{% trans 'World news' %}</option>
                                </select>
                            </div>
{% endblock %}