{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block content %}
                <div class="main-wrapper">

<!--|  Intro block -->
                    <div class="intro-block blurred-image-fix">
                        <!-- blurred-image-fix is negative margin -->
                        <!-- Problem: Size of the box were X px bigger due to blurred background image. Nah! -->

                        <div class="main-pic-overflow">
                            <!-- This parent main-pic-overflow fix is for overflow:hidden -->
                            <!-- Problem: It was not applying to blurred borders of about-main-pic background image -->
                            <div class="psy-main-pic main-pic">

                            </div>
                        </div>

                        {% include 'includes/search.html' %}

                        <h3 class="page-header">{% trans 'Psycological aid' %}</h3>
                    </div>
<!--|  END Intro block -->

<!--|  Main content block -->
                    <div class="row main-block">

                        {% include 'includes/report_btn.html' %}

                        <div class="image-text-block" style="background-image: url('{% static "images/psy-big-pict.png" %}');">
                            {% include 'includes/flatblock.html' with block_name='psy.support_group' %}
                        </div>

                        <div class="identity-text-block">
                            {% include 'includes/flatblock.html' with block_name='psy.consult' %}
                            <span class="subheader">{% trans 'Write to us if you need advice' %}</span>
                            <div>
                                <div class="c">
                                    <input type="email" class="form-control identity-input easy_placeholder" placeholder="{% trans 'Your email...' %}">
                                    <input type="tel" class="form-control identity-input easy_placeholder" placeholder="{% trans 'Your phone number...' %}">
                                </div>
                                <div class="c">
                                    <textarea class="identity-textarea easy_placeholder" placeholder="{% trans 'Describe with a few words' %}"></textarea>
                                </div>
                            </div>
                            <div class="textnbtn">
                                <span>{% trans 'Our experts will contact you shortly.' %}</span>
                                <a class="identity-btn" href="#">{% trans 'Send' %}</a>
                                <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>
                            </div>
                        </div>

                        <div class="identity-articles-block main-branding">
                            <b>{% trans 'Useful materials' %}:</b>

                            {% include 'includes/article_list.html' %}

                        </div>

                    </div>
<!--|  END Main content block -->
                </div>

{% endblock %}