{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block content %}
                <div class="main-wrapper">

<!--|  Intro block -->
                    <div class="intro-block blurred-image-fix blur-overflow-fix">
                        <!-- blurred-image-fix is negative margin -->
                        <!-- Problem: Size of the box were X px bigger due to blurred background image. Nah! -->

                        <div class="main-pic-overflow">
                            <!-- This parent main-pic-overflow fix is for overflow:hidden -->
                            <!-- Problem: It was not applying to blurred borders of about-main-pic background image -->
                            <div class="rights-main-pic main-pic">

                            </div>
                        </div>

                        {% include 'includes/search.html' %}

                        <h3 class="page-header lm20">{% trans 'Human rights' %}</h3>
                    </div>
<!--|  END Intro block -->

<!--|  Main content block -->
                    <div class="row main-block blur-overflow-fix">

                        <div class="rights-top-block">

                            <div class="wrap-relative">
                                <div class="main-pic-overflow">
                                    <!-- This parent main-pic-overflow fix is for overflow:hidden -->
                                    <!-- Problem: It was not applying to blurred borders of about-main-pic background image -->
                                    <div class="rights-main-pic2 main-pic">

                                    </div>
                                </div>
                            </div>

                            <div class="c">
                                {% include 'includes/flatblock.html' with block_name='rights.what_is_discrimination' %}

                                <br>
                                <a href="#" class="identity-btn why"></a>
                                <br>
                                <br>
                                <br>
                                <b class="with-img">{% trans 'Report breach of rights' %}</b>
                                <br>
                                <form>
                                    <p>{% trans 'Please, select a role in the incident:' %}</p>
                                    <fieldset>
                                        <input class="identity-radio" id="r-victim" type="radio" name="role">
                                        <label for="r-victim">{% trans 'I am a victim' %}</label>
                                        <input class="identity-radio" id="r-third-party" type="radio" name="role" checked>
                                        <label for="r-third-party">{% trans 'I am a witness' %}</label>
                                    </fieldset>
                                    <br>
                                    <p class="w50">{% trans 'What makes you think that it was&#10;an act of discrimination:' %}</p>
                                    <fieldset>
                                        <div>
                                            <input class="identity-radio" id="r-r1" type="radio" name="reason">
                                            <label class="w50 solid" for="r-r1">
                                                <span>
                                                    <br>
                                                    {% include 'includes/flatblock.html' with block_name='rights.a' %}
                                                </span>
                                            </label>
                                            <input class="identity-radio" id="r-r2" type="radio" name="reason" checked>
                                            <label class="w50 solid" for="r-r2">
                                                <span>
                                                    <br>
                                                    {% include 'includes/flatblock.html' with block_name='rights.b' %}
                                                </span>
                                            </label>
                                        </div>
                                        <div>
                                            <input class="identity-radio" id="r-r3" type="radio" name="reason">
                                            <label class="w50 solid" for="r-r3">
                                                <span>
                                                    <br>
                                                    {% include 'includes/flatblock.html' with block_name='rights.c' %}
                                                </span>
                                            </label>
                                            <input class="identity-radio" id="r-r4" type="radio" name="reason" checked>
                                            <label class="w50 solid" for="r-r4">
                                                <span>
                                                    <br>
                                                    {% include 'includes/flatblock.html' with block_name='rights.d' %}
                                                </span>
                                            </label>
                                        </div>
                                        <div class="fields">
                                            <input type="email" class="form-control identity-input easy_placeholder inline" placeholder="{% trans 'Your email...' %}">
                                            <span class="spacer"></span>
                                            <input type="tel" class="form-control identity-input easy_placeholder inline" placeholder="{% trans 'Your phone number...' %}">

                                            <textarea class="identity-textarea easy_placeholder" placeholder="{% trans 'What happened?' %}"></textarea>

                                            <div class="textnbtn">
                                                <span class="thanks">{% trans 'We have received your message,&#10;We will contact you' %}</span>
                                                <a class="identity-btn" href="#">{% trans 'Send' %}</a>
                                                <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>
                        </div>

                        <div class="identity-articles-block main-branding">
                            <b>{% trans 'Useful materials' %}</b>

                                {% include 'includes/article_list.html' %}

                        </div>

                        <div class="identity-text-block">
                            <b>{% trans 'Useful links' %}:</b>
                            {%  for l in useful_links %}
                                <a href="{{ l.url }}" class="identity-btn useful-link">{% trans l.title %}</a>
                            {% endfor %}
                        </div>

                        {% include 'includes/subscribe.html' %}

                    </div>
<!--|  END Main content block -->
                </div>
{% endblock %}