{% extends 'meta.html' %}

{% load staticfiles %}
{% load i18n %}

{% block body %}
    <style>
        .error-page.e-subscribed .full-logo {
            top: -180px;
        }
    </style>
    <div class="error-page e404 e-subscribed">
        <div class="identity-error" style="font-size: 30px;">{% trans 'Subscribed' %}</div>
        <div class="error-desc">
            {% trans 'You have subscribed' %}
        </div>
        <div class="error-help-hint">
            <a href="{% url 'index' %}">{% trans 'To main' %}</a>
        </div>
    </div>
{% endblock %}