{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block content %}
                <div class="main-wrapper">

<!--|  Intro block -->
                    <div class="intro-block blurred-image-fix">
                        <!-- blurred-image-fix is negative margin-->
                        <!-- Size of the box were X px bigger due to blurred background image. Nah! -->

                        <div class="main-pic-overflow">
                            <!-- This parent main-pic-overflow fix is for overflow:hidden -->
                            <!-- It was not applying to blurred borders of about-main-pic background image -->
                            <div class="about-main-pic main-pic">

                            </div>
                        </div>

                        {% include 'includes/search.html' %}

                        <h3 class="page-header">{% trans 'Join us!' %}</h3>
                    </div>
<!--|  END Intro block -->

<!--|  Main content block -->
                    <div class="row main-block">

                        {% include 'includes/report_btn.html' %}

                        <div class="identity-text-block">
                            {% include 'includes/flatblock.html' with block_name='volunteer.header' %}
                        </div>

                        <div class="identity-text-block main-branding white">
                            {% include 'includes/flatblock.html' with block_name='volunteer.help' %}
                            <br/>

                            <b>{% trans 'If you are willing to participate please, enter your contact data:' %}</b>
                            <input type="email" class="form-control identity-input easy_placeholder inline" placeholder="{% trans 'Your email...' %}">
                            <input type="tel" class="form-control identity-input easy_placeholder inline" placeholder="{% trans 'Your phone number...' %}">

                            <div class="v-c">
                                <textarea class="identity-textarea easy_placeholder" placeholder="{% trans 'Tell us about yourself' %}"></textarea>

                                <div class="textnbtn">
                                    <span class="thanks">{% trans 'Thank you for participating!' %}</span>
                                    <a class="identity-btn" href="#">{% trans 'Send' %}</a>
                                    <i class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></i>
                                </div>
                            </div>
                        </div>

                    </div>
<!--|  END Main content block -->
                </div>
{% endblock %}