<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <form method="POST" action="/form_test" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
{#        <input type="text" name="f1" value="a text">#}
        <input type="hidden" name="_charset_" value="">
        <input type="submit" value="Submit">
    </form>
</body>
</html>